
.faq__heading {
    @include width(220,190,220);
    @include marginBottom(42,-50,-65);

    h2 {
        line-height: 4.2rem;
        @include breakpoint(tabletAndDesktop) {
            line-height: 2rem;
        }
        @include breakpoint(desktopOnly) {
            line-height: 2.6rem;
        }

        .text--bolder {
        letter-spacing: 0;
        }
    }

}

.faq__teaser-underlay {
    background: $lightGray;
    height: 51.7rem;
    @include height(517,218,396);
    width: 100%;
    position: absolute;
    z-index: -1;
    @include marginTop(270,30,88);
}

.faq__first-teaser {
    @include width(560,455,860);
    display: block;
    margin: 0 auto;
    position: relative;

    @include breakpoint(tabletAndDesktop) {
        margin-left: 12.5rem;
    }

    @include breakpoint(desktopOnly) {
        margin-left: 25rem;
    }

    &__caption {
        @include width(560,150,340);
        display: inline-block;
        margin-bottom: 7.5rem;

        @include breakpoint(tabletAndDesktop) {
            position: absolute;
            right: 0;
            bottom: 1rem;
            @include breakpoint(desktopOnly) {
                top: 15.3rem;
            }

            h4 {
                font-size: 1.6rem;
                line-height: 2rem;
                @include breakpoint(desktopOnly) {
                    font-size: 2.2rem;
                    line-height: 3rem;
                }
            }

        }
    }

}

.faq-slider {
    -webkit-box-shadow: 0px 1rem 2.2rem -0.4rem  rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1rem 2.2rem -0.4rem  rgba(0,0,0,0.3);
box-shadow: 0px 1rem 2.2rem -0.4rem rgba(0,0,0,0.5);
    @include width(560,276,491);
    display: inline-block;
    @include marginBottom(45,33,78);
}

.faq__first-teaser__slide {
    @include teaser__figureResponsive(url("../../assets/image/faq__first-teaser-img.jpg"),
    470,230,410);   
}

.faq__second-teaser__slide {
    @include teaser__figureResponsive(url("../../assets/image/news-de-la__third-teaser-img.jpg"),
    470,230,410);  
}

.faq__third-teaser__slide {
    @include teaser__figureResponsive(url("../../assets/image/faq__first-teaser-img.jpg"),
    470,230,410);  
}

.faq-slider__navigation {
    position: absolute;
    bottom: 3rem;
    right: -0.3rem;
    color: $darkGray;
    @include fontSize(25,13,14);

    @include breakpoint(tabletAndDesktop) {
        right: -5.5rem;
        bottom: 2rem;
    }
    @include breakpoint(desktopOnly) {
        top: 16rem;
        right: -10rem;
    }
}

.faq-slider__current {
    color: $yellow;
}

.faq-slider__arrows {
    display: inline-block;
    cursor: pointer;
    padding: 0 1rem;
    @include breakpoint(desktopOnly) {
        padding: 0.1rem;
        @include circled-icon(1.4vw);
        
        &:hover {
            background: $gray;
            color: $white;
        }
    }
}


.faq-slider__arrows-left {
    bottom: -5rem;
    right: 17rem;
}

.faq-slider__arrows-right {
    bottom: -5rem;
    right: 4rem;
}