.faq-slider {
    -webkit-box-shadow: 0px 20px 52px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 20px 52px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 20px 52px 0px rgba(0,0,0,0.75);
}

.faq__first-teaser__slide {
    background: center / cover no-repeat url("../../assets/image/faq__first-teaser-img.jpg");
    width: 100%;
    height: 47rem;
}

.faq__second-teaser__slide {
    background: center / cover no-repeat url("../../assets/image/teaser-cote.jpg");
    width: 100%;
    height: 47rem;
}

.faq__third-teaser__slide {
    background: center / cover no-repeat url("../../assets/image/faq__first-teaser-img.jpg");
    width: 100%;
    height: 47rem;
}

.faq-slider__navigation {
    margin-top: 3.8rem;
    color: $gray;
    @include fontSize(30,40,20);
    position: absolute;


}

.faq-slider__current {
    color: $yellow;
}

.faq-slider__arrows {
    display: inline-block;

    &:hover {
        color: $black;
    }
}

.faq-slider__arrows-left {
    bottom: -5rem;
    right: 17rem;
}

.faq-slider__arrows-right {
    bottom: -5rem;
    right: 4rem;
}