.hp-slider__wrapper {
    position: relative;
}

.hp-slider__images {
    width: 100%;
}

.hp-slider__arrows {
    z-index: 999;
    position: absolute;
    top: 20rem;
    color: $yellow;
    @include fontSize(25,25,50);
    visibility: hidden;
    @include breakpoint(tabletAndDesktop) {
        visibility: visible;
    }

    @include breakpoint(desktopOnly) {
        top: 44rem;
    }

    &:hover {
        color: $gray;
    }
}

.hp-slider__arrows-left {
    left: 2.82vw;
}

.hp-slider__arrows-right {
    right: 2.82vw;
}

.hp-slider__text-content {
    width: 88%;
    position: absolute;
    top: 6.4rem;
    left: 6.25vw;
}

.hp-slider__button {
    @include marginBottom(20,50,50);
    @include fontSize(12,12,12);
    @include letterSpacing(50,50,50);
    padding: 0 calcRem(20);
}

.hp-slider__text-content-smaller {
    color: $yellow;
    @include marginBottom(-5,50,50);
}

.hp-slider__text-content-bigger {
    color: $white;
}