.hp-slider__wrap {
    position: relative;
}

.hp-slider__slide1 {
    background: center / cover no-repeat url("../../assets/image/hp-slider__first-slide.jpg");
    @include height(330,396,875);
}

.hp-slider__slide2 {
    background: top / cover no-repeat url("../../assets/image/hp-slider__second-slide.jpg");
    @include height(330,396,875);
}

.hp-slider__slide3 {
    background: center / cover no-repeat url("../../assets/image/article-faq__header-img.jpg");
    @include height(330,396,875);
    filter: brightness(0.6);
}

.container--slider {
    position: absolute;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    z-index: 666;
}

// Text And Button

.hp-slider__text-content {
    @include width(455,365,790);
    @include marginTop(64,148,341);
    @include breakpoint(tabletAndDesktop) {
        margin-left: calcVw(58,768);
        @include breakpoint(desktopOnly) {
            margin-left: calcVw(90,1700);
        }
    }

    p {
        padding: 0;
        @include breakpoint(desktopOnly) {
            margin-top: 0.9rem;
            font-size: 3.2rem;
        }
    }

}

.hp-slider__btn {
    letter-spacing: 0.07rem;
    padding: 0 3.5%;
    line-height: 3.5rem;
    @include marginBottom(24,7,12);
    @include breakpoint(tabletAndDesktop) {
        line-height: 2.2rem;
        @include breakpoint(desktopOnly) { 
            line-height: 3.5rem;
            padding: 0 3.7%;
        }
    }

}

.hp-slider__text-sm {
    line-height: normal;
}

// Navigation And Counter

.hp-slider__counter-wrap {
    position: absolute;
    right: 0;
    bottom: 6rem;
    @include breakpoint(tabletAndDesktop) {
        left: calcVw(58,768);
        right: auto;
        bottom: 2.7rem;
        @include breakpoint(desktopOnly) {
            left: calcVw(90,1700);
            bottom: 6.7rem;
        }
    }

    span {
        @include fontSize(25,12,22);
    }

}

.hp-slider__current {
    padding-right: 0.7rem;
}

.hp-slider__arrows-prev {
    top: 51%;
    left: calcVw(22,768);
}

.hp-slider__arrows-next {
    top: 51%;
    right: calcVw(22,768);
}

@include breakpoint(desktopOnly) {
    .hp-slider__arrows-prev, 
    .hp-slider__arrows-next {
        @include circled-icon(calcRem(50));
        line-height: 5rem;
    }
}