@include breakpoint(tabletAndDesktop) {
    .les-plus-slider {        
        .les-plus__first-teaser,
        .les-plus__second-teaser,
        .les-plus__third-teaser,
        .les-plus__fourth-teaser, {
            margin: 0 0.2%;
            width: 25%;
            outline: none;
        }

    }

}