.cote-business__portrait-slider {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2rem solid $yellow;
    @include width(560,317,664);

    @include breakpoint(tabletAndDesktop) {
        display: inline-block;
        margin-top: 2.7rem;
    }
    @include breakpoint(desktopOnly) {
        margin-top: 8.6rem;
    }
}

//Correct Measures//
.portrait-slider__first-slide{
    @include teaser__figureResponsive(url("../../assets/image/portrait-slider__first-slide.jpg"),
    500,270,610);
    width: 100%;
}

.portrait-slider__second-slide {
    @include teaser__figureResponsive(url("../../assets/image/portrait-slider__second-slide.jpg"),
    500,270,610);
    width: 100%;
}


.portrait-slider__text-content {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    padding: 17.9% 36.6% 0 9.7%;
}

.portrait-slider__heading {
    @include fontSize(50,18,36);
    color: $yellow;
    @include marginBottom(15,8,15);
}

.portrait-slider__description {
    @include fontSize(36,16,36);
    letter-spacing: 0.05em;
    @include lineHeight(38,20,38);
    text-transform: none;
    color: $white;
    @include marginBottom(50,50,50);
}



.portrait-slider__navigation {
    position: absolute;
    top: 22%;
    color: $white;
    @include fontSize(25,10,14);
    right: 1rem;
}

.portrait-slider__arrows {
    display: inline-block!important;
    padding: 0 2rem;

    &:hover {
        color: $gray;
    }
}

.portrait-slider__current {
    color: $yellow;
}

