.cote-business__portrait-slider {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2rem solid $yellow;
    @include width(560,317,664);

    @include breakpoint(tabletAndDesktop) {
        display: inline-block;
        margin-top: 2.7rem;
    }
    @include breakpoint(desktopOnly) {
        margin-top: 8.6rem;
    }
}

//Correct Measures//
.portrait-slider__first-slide{
    @include teaser__figureResponsive(url("../../assets/image/portrait-slider__first-slide.jpg"),
    500,270,610);
    width: 100%;
}

.portrait-slider__second-slide {
    @include teaser__figureResponsive(url("../../assets/image/portrait-slider__second-slide.jpg"),
    500,270,610);
    width: 100%;
}


.portrait-slider__text-content {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    padding: 13% 10%;

    .text--slider {
        margin: 10% 0 23%;
    }
}

.portrait-slider__navigation {
    position: absolute;
    top: 8rem;
    color: $white;
    @include fontSize(25,10,14);
    right: 1rem;

}

.portrait-slider__arrows {
    display: inline-block!important;
    padding: 0 2rem;

    &:hover {
        color: $gray;
    }
}

.portrait-slider__current {
    color: $yellow;
}

