.cote-business__portrait-slider {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2rem solid $yellow;
    @include width(560,317,664);

    @include breakpoint(tabletAndDesktop) {
        display: inline-block;
        border: 1.7rem solid $yellow;
        margin-top: 1.1rem;
    }
    @include breakpoint(desktopOnly) {
        border: 3rem solid $yellow;
        margin-top: 8.6rem;
    }
}

//Correct Measures//
.portrait-slider__first-slide{
    @include teaser__figureResponsive(url("../../assets/image/portrait-slider__first-slide.jpg"),
    500,270,580);
    width: 100%;
}

.portrait-slider__second-slide {
    @include teaser__figureResponsive(url("../../assets/image/portrait-slider__second-slide.jpg"),
    500,270,580);
    width: 100%;
}


.portrait-slider__text-content {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    padding: 7rem 36.6% 0 9.7%;
    @include breakpoint(tabletAndDesktop) {
        padding-top: 3.5rem;
        padding-right: 40%;
    }
    @include breakpoint(desktopOnly) {
        padding-top: 6.5rem;
        padding-right: 50%;
    }

    .button {
        @include breakpoint(desktopOnly) {
            margin-top: 5rem;
        }
        &:hover {
            background-color: $yellow;
        }
    }
}

.portrait-slider__heading {
    @include fontSize(50,18,30);
    color: $yellow;
    @include marginBottom(22,-5,-15);
}

.portrait-slider__description {
    @include fontSize(36,16,28);
    letter-spacing: 0.05em;
    @include lineHeight(38,20,35);
    text-transform: none;
    color: $white;
    @include marginBottom(67,45,-10);
}



.portrait-slider__navigation {
    position: absolute;
    top: 17%;
    color: $white;
    @include fontSize(25,10,14);
    right: 1rem;
}

.portrait-slider__arrows {
    display: inline-block!important;
    padding: 0 2rem;

    &:hover {
        color: $gray;
        cursor: pointer;
    }
}

.portrait-slider__current {
    color: $yellow;
}

