
.qa__heading {
    @include marginBottom(180,105,170);
    @include marginLeft(0,44,173);

}

.qa__slider-underlay {
    background: $lightGray;
    position: relative;

    @include breakpoint(tabletAndDesktop) {
        width: calcVw(442,768);
    }
    @include breakpoint(desktopOnly) {
        width: calcVw(835,1700);
    }
}

.qa__slider-wrap {
    @include width(560,380,492);
    margin: -14.5rem auto 0;
    @include breakpoint(tabletAndDesktop) {
     margin: -8.3rem 0 0 calcVw(44,768);   
    }
    @include breakpoint(desktopOnly) {
        margin: -13.6rem 0 0 calcVw(173,1700);   
       }
}

.qa-slider {
    -webkit-box-shadow: 0px 20px 52px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 20px 52px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 20px 52px 0px rgba(0,0,0,0.75);
    @include width(560,299.41,491);
    @include marginBottom(47,20,30);
}

.qa-slider__first-slide {
    @include teaser__figureResponsive(url("../../assets/image/qa-slider__first-slide.jpg"),
    470,250.09,410);   
}

.qa-slider__second-slide {
    @include teaser__figureResponsive(url("../../assets/image/news-de-la__third-teaser-img.jpg"),
    470,250.09,410);  
}

.qa__slider__caption {
    margin-bottom: 2rem;
    @include breakpoint(tabletAndDesktop) {
        width: 70%;
        margin-bottom: 0;
    }
    @include breakpoint(desktopOnly) {
        float: left;
        margin-bottom: 6.4rem;

        h4 {
            font-size: 2.2rem;
            line-height: 3rem;
            
        }
    }
}

.qa-slider__navigation {
    float: right;
    color: $gray;
    @include fontSize(25,10,14);
    @include marginBottom(30,44,0);
    margin-top: -1rem;
    @include breakpoint(desktopOnly) {
        margin-top: 1.2rem;
    }
}

.qa-slider__current {
    color: $yellow;
}

.qa-slider__arrows {
    display: inline-block;
    padding: 0 1rem;

    &:hover {
        color: $black;
    }
}