// Width Sizes For all Viewports

@mixin width($fs-phone, $fs-tablet, $fs-desktop) {
    @include breakpoint(phoneOnly) {
      width: calcVw($fs-phone, 640);
    }
    @include breakpoint(tabletOnly){
      width: calcVw($fs-tablet, 768);
    }
    @include breakpoint(desktopOnly){
      width: calcVw($fs-desktop, 1700);
    }
  }

  // Height sizes for all viewports

  @mixin height($h-phone, $h-tablet, $h-desktop) {
    @include breakpoint(phoneOnly) {
      height: calcRem($h-phone);
    }
    @include breakpoint(tabletOnly){
      height: calcRem($h-tablet);
    }
    @include breakpoint(desktopOnly){
      height: calcRem($h-desktop);
    }
  }