// Mixin for All My Responsive Margins // ( Maybe an overkill -_- )

@mixin marginTop($fs-phone, $fs-tablet, $fs-desktop) {
    @include breakpoint(phoneOnly) {
        margin-top: calcRem($fs-phone);
    }

    @include breakpoint(tabletOnly){
        margin-top: calcRem($fs-tablet);
    }

    @include breakpoint(desktopOnly){
        margin-top: calcRem($fs-desktop);
    }
}

@mixin marginRight($fs-phone, $fs-tablet, $fs-desktop) {
    @include breakpoint(phoneOnly) {
        margin-right: calcVw($fs-phone,640);
    }

    @include breakpoint(tabletOnly){
        margin-right: calcVw($fs-tablet, 768);
    }

    @include breakpoint(desktopOnly){
        margin-right: calcVw($fs-desktop, 1024);
    }
}

@mixin marginBottom($fs-phone, $fs-tablet, $fs-desktop) {
    @include breakpoint(phoneOnly) {
        margin-bottom: calcRem($fs-phone);
    }

    @include breakpoint(tabletOnly){
        margin-bottom: calcRem($fs-tablet);
    }

    @include breakpoint(desktopOnly){
        margin-bottom: calcRem($fs-desktop);
    }
}

@mixin marginLeft($fs-phone, $fs-tablet, $fs-desktop) {
    @include breakpoint(phoneOnly) {
        margin-left: calcVw($fs-phone,640);
    }

    @include breakpoint(tabletOnly){
        margin-left: calcVw($fs-tablet, 768);
    }

    @include breakpoint(desktopOnly){
        margin-left: calcVw($fs-desktop, 1024);
    }
}