// Rem Line Height For All Viewports //

@mixin lineHeight($lh-phone, $lh-tablet, $lh-desktop) {
  @include breakpoint(phoneOnly) {
    line-height: calcRem($lh-phone);
  }
  @include breakpoint(tabletOnly){
    line-height: calcRem($lh-tablet);
  }
  @include breakpoint(desktopOnly){
    line-height: calcRem($lh-desktop);
  }
}
