.diaporama__arrows {
    position: absolute;
    top: 41.5vw;
    width: 100%;
    z-index: 1000;
  
    @include breakpoint(tabletOnly) {
      top: 34.4vw;
    }
  
    @include breakpoint(desktopOnly) {
      width: 8.5%;
      top: auto;
      bottom: 6vh;
      left: 54.5%;
    }
  }
  
  .diaporama__prev, .diaporama__next {
    @include circled-icon(9vw);
    color: $yellow;
    background: $black;
    font-size: calcRem(14);
    z-index: 20;
    position: relative;
  
    @include breakpoint(tabletOnly) {
      @include circled-icon(6vw);
      font-size: calcRem(12);
    }
  
    @include breakpoint(desktopOnly) {
      @include circled-icon(2.65vw);
      font-size: calcRem(14);
    }
  }
  
  .diaporama__prev {
    float: left;
    left: 6vw;
  
    @include breakpoint(tabletOnly) {
      left: 3.5vw;
    }
  
    @include breakpoint(desktopOnly) {
      left: 0;
    }
  }
  
  .diaporama__next {
    float: right;
    right: 6vw;
  
    @include breakpoint(tabletOnly) {
      right: 3.5vw;
    }
  
    @include breakpoint(desktopOnly) {
      right: 0;
    }
  }
  

.arrow {
  position: absolute;
  z-index: 999;
  @include circled-icon(calcRem(25));
  background-color: $yellow;
  
  @include fontSize(8,8,12);

  &--black {
    @extend .arrow;
    background: $black;
  }

  &--gray {
    @extend .arrow;
    color: $gray;
    background: none;
    border: 1px solid $gray;
    box-shadow: 0 0 1px $gray;
    opacity: 0.6;
    @include breakpoint(desktopOnly) {
      @include circled-icon(calcRem(50));
    }
    
    &:hover {
      background: $white;
      color: $black;
      border: 1px solid $white;
    }
  }

}
