.article-body {

    @include height(4246,1364,1316);
    @include breakpoint(desktopOnly) {
        width: calcVw(678,1700);
        display: inline-block;
        text-align: left;
    }

    &__category {
        line-height: 1;
        display: inline-block;
        padding: 1.8vw 2.2vw;
        @include fontSize(13.32,8,13);
        @include letterSpacing(50,50,50);
        font-weight: 700;
        text-transform: uppercase;
        background: #ffcc33;
        @include marginBottom(20,16,28);
        @include breakpoint(tabletAndDesktop) {
            padding: 1rem 1rem;
            @include breakpoint(desktopOnly) {
                padding: 1rem 2rem;
            }
        }
      }

     &__heading {
         text-align: left;
         @include marginBottom(97,70,96);
         @include breakpoint(tabletAndDesktop) {
             margin-top: 5rem;
         }
         
            h1 {
            text-transform: uppercase;
            font-weight: 900;
            @include fontSize(40,32,54);
            @include lineHeight(42,32,55);
            @include letterSpacing(-14,-25,0);
            @include breakpoint(desktopOnly) {
                width: 83%;
            }
        }
    }

    &__date {
        line-height: 1;
        color: $darkGray;
        @include fontSize(24, 12, 10);
        @include letterSpacing(50, 50, 50);
        @include marginBottom(21,13,11);
    }

    &__paragraphs {

        & p {
            color: $black;
            padding-top: 0;
            @include fontSize(28, 16, 16);
            @include lineHeight(42, 22, 22);
            @include letterSpacing(45, 50, 50);
            @include marginBottom(50,32,0);

        }

        & .article-body__paragraphs--intro {
            font-weight: 900;
            margin-bottom: 9.5vw;
            @include fontSize(28, 18, 18);
            @include lineHeight(42, 26, 26);
            @include letterSpacing(50, 50, 50);
            @include breakpoint(tabletOnly) {
                margin-bottom: 5.2vw;
            }

            @include breakpoint(desktopOnly) {
                margin-bottom: 1.5vw;
            }

        }

        & a {
            color: $yellow;
            padding-bottom: 2px;
            border-bottom: 1px solid #ffcc33;
        }

    }

    &__tags {
        color: $yellow;
        @include fontSize(28, 16, 12);
        @include letterSpacing(50, 50, 50);
    }

    &__main-content {
        letter-spacing: 0.2vw;
        @include breakpoint(desktopOnly) {
            float: left;
            width: 56.5%;
            margin-right: 8.9%;
        }
    }

}

.article-body--faq {
    @include height(3518,1551,1686);
}