.button {
    background-color: $yellow;
    border: none;
    color: $black;
    text-align: center;
    padding: 0.3rem 1.4rem;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    @include fontSize(12,8,12);
    @include lineHeight(34,18.39,36);
    @include letterSpacing(50,50,50);

    &--white-bg {
        background: white;
        padding-left: 2.1rem;
        padding-right: 2.1rem;
        @include letterSpacing(100,100,100);

        &:active {
            background-color: $black;
            color: $white;
        }
    }

    &--caption {
        position: absolute;
        bottom: 0;
        cursor: pointer;
    }
}

.btn {
    padding: 1.5rem 2.5rem;
    font-size: $fontSmall;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: $white;
    color: $black;
    border: 0;
    cursor: pointer;
    transition: all 0.15s linear;
    margin-bottom: 15px;
    outline: none;
  
    &:hover {
      background: $black;
      color: $white;
    }

    &-alt {
        @include fontSize(21,12,12);
        @include lineHeight(54,36,36);
        @include letterSpacing(50,100,100);
        @include width(352,191,191);
        box-sizing: border-box;
        text-align: center;
        border: 0.001rem solid rgba(0,0,0,0.01);
        -webkit-box-shadow: 0px 9px 22px 1px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 9px 22px 1px rgba(0,0,0,0.3);
        box-shadow: 0px 9px 22px 1px rgba(0,0,0,0.3);
        cursor: pointer;
        @include breakpoint(tabletAndDesktop) {
            padding: 1rem 0;
        }
    
        &:active {
            background-color: $black;
            color: $white;
        }
    }
    
    &--centered {
        display: block;
        margin: 0 auto;
    }

    &--shadowed {
        -webkit-box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.1);
        box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.1);
    }

    
    &--yellow {
        background: $yellow;
    }
}

.btn--caption {
    @include fontSize(12,8,12);
    line-height: 1;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    padding: 1.7vw 3.1vw;
    background: $yellow;
    color: $black;
    font-weight: 700;

		@include breakpoint(tabletOnly) {
        padding: 1vw 1.6vw;
      }
    
      @include breakpoint(desktopOnly) {
          padding: 0.9vw 1.3vw;
    }
}


.button-alt {
    text-align: center;
    background-color: $white;
    padding: 1rem 2rem;
    @include fontSize(15,10.8,12);
    @include lineHeight(36,32.4,36);
    @include letterSpacing(100,100,100);
    border: 0.00000001rem solid rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 5px 10.3rem 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 5px 10.3rem 2px rgba(0,0,0,0.1);
    box-shadow: 0px 5px 10.3rem 2px rgba(0,0,0,0.1);
    cursor: pointer;

    &:active {
        background-color: $black;
        color: $white;
    }
}

.button--shp {
    padding: 0.4rem 3rem;
    line-height: 2.6rem;
    @include breakpoint(tabletAndDesktop) {
        padding: 0.4rem 1.5rem;
        line-height: 1.6rem;
        @include breakpoint(desktopOnly) {
            padding: 0.4rem 3rem;
            line-height: 2.5rem;            
        }
    }
}