.figure {
    display: inline-block;
    position: relative;
    .button {
        position: absolute;
        bottom: 0;
    }
}

.news-de-la__first-teaser__figure {
    background: center / cover no-repeat url("../../assets/image/teaser-news.jpg");
    width: 100%;
    height: 26.6rem;
}

.news-de-la__second-teaser__figure{
    background: url("../../assets/image/teaser-news-bigger.jpg") right / cover no-repeat;
    width: 100%;
    height: 45.5rem;
}

.news-de-la__third-teaser__figure {
    background: url("../../assets/image/teaser-cote.jpg") center / cover no-repeat;
    width: 100%;
    height: 45.5rem;
}

.news-de-la__fourth-teaser__figure {
    background: url("../../assets/image/teaser-cote-tools.jpg") center / cover no-repeat;
    height: 22.2rem;
    width: 50%;
}

.fan-de-vu__first-teaser__figure {
    background: url("../../assets/image/fan-de-vu__first-teaser-img.jpg") center / cover no-repeat;
    width: 100%;
    height: 34rem;
}

.fan-de-vu__second-teaser__figure {
    background: url("../../assets/image/fan-de-vu__second-teaser-img.jpg") center / cover no-repeat;
    width: 100%;
    height: 22rem;
}

.fan-de-vu__third-teaser__figure {
    background: url("../../assets/image/fan-de-vu__third-teaser-img.jpg") center / cover no-repeat;
    width: 100%;
    height: 22rem;
}

.fan-de-vu__fourth-teaser__figure {
    background: url("../../assets/image/fan-de-vu__second-teaser-img.jpg") center / cover no-repeat;
    width: 100%;
    height: 22rem;
}

.vu-astuces__first-teaser__figure {
    background: url("../../assets/image/vu-astuces__first-teaser-img.jpg") center / cover no-repeat;
    width: 100%;
    height: 36rem;
}

.vu-astuces__second-teaser__figure {
    background: url("../../assets/image/vu-astuces__second-teaser-img.jpg") center / cover no-repeat;
    width: 100%;
    height: 22rem;
}

.vu-astuces__third-teaser__figure {
    @extend .news-de-la__third-teaser__figure;
    background: url("../../assets/image/vu-astuces__third-teaser-img.jpg") center / cover no-repeat;

}

.vu-astuces__fourth-teaser__figure {
    @extend .vu-astuces__second-teaser__figure;
}
.vu-astuces__fifth-teaser__figure {
    @extend .vu-astuces__first-teaser__figure;
}

.foire__first-teaser__figure {
    background: url("../../assets/image/foire__first-teaser-img.jpg") no-repeat center center;
    width: 100%;
    height: 47rem;
    margin-top: 4.5rem;
}

.cote-business__first-teaser__figure {
    @extend .vu-astuces__fourth-teaser__figure;
}

.cote-business__second-teaser__figure {
    @extend .vu-astuces__fifth-teaser__figure;
}

.cote-business__third-teaser__figure {
    @extend .vu-astuces__first-teaser__figure;
    margin-top: -9rem;

}

.cote-business__fourth-teaser__figure {
    @extend .vu-astuces__second-teaser__figure;
    margin-top: 5rem;
    
}

.cote-business__fifth-teaser__figure {
    @extend .fan-de-vu__second-teaser__figure;
    
}

.cote-business__sixth-teaser__figure {
    @extend .fan-de-vu__third-teaser__figure;
    
}



////////////////////////////////////
/////// Media Queries /////////////
//////////////////////////////////



@include breakpoint(tabletAndDesktop) {

    .news-de-la__first-teaser__figure {
        height: 20rem;
    }
    
    .news-de-la__second-teaser__figure{
        height: 26rem;
    }
    
    .news-de-la__third-teaser__figure {
        height: 23rem;
    }
    
    .news-de-la__fourth-teaser__figure {
        height: 12rem;
    }

}
