.figure {
    display: inline-block;
    position: relative;
    width: 100%;
    // background: url("../../assets/image/teaser--default-img.jpg");
}

// Sub Menu Desktop Top Article Figures

.sub-menu__first--teaser__figure{
    @include teaser__figureResponsive(url("../../assets/image/sub-menu__first-teaser-img.jpg"),
    55,55,55);
    @include width(68,68,68);
}

.sub-menu__second--teaser__figure{
    @include teaser__figureResponsive(url("../../assets/image/sub-menu__second-teaser-img.jpg"),
    55,55,55);
    @include width(68,68,68);
}

// News De La Semaine Figures //

.news-de-la__first-teaser__figure {
    @include teaser__figureResponsive(
    url("../../assets/image/news-de-la__first-teaser-img.jpg"),
    264,202,309);
}

.news-de-la__second-teaser__figure{
    @include teaser__figureResponsive( 
        url("../../assets/image/news-de-la__second-teaser-img.jpg"),
    455,257,535);
}

.news-de-la__third-teaser__figure {
    @include teaser__figureResponsive(url("../../assets/image/news-de-la__third-teaser-img.jpg"),
    458,227,473);
}

.news-de-la__fourth-teaser__figure {
    @include teaser__figureResponsive(url("../../assets/image/news-de-la__fourth-teaser-img.jpg"),
    222,125,262);
    @include width(272,154,320);
}

//  Fan De Vu Figures //

.fan-de-vu__first-teaser__figure {
    @include teaser__figureResponsive(url("../../assets/image/fan-de-vu__first-teaser-img.jpg"),
    340,239,509); 
}

.fan-de-vu__second-teaser__figure {
    @include teaser__figureResponsive(url("../../assets/image/fan-de-vu__second-teaser-img.jpg"),
    222,125,262);
}

.fan-de-vu__third-teaser__figure {
    @include teaser__figureResponsive(url("../../assets/image/fan-de-vu__third-teaser-img.jpg"),
    222,125,262);
}

.fan-de-vu__fourth-teaser__figure {
    @include teaser__figureResponsive(url("../../assets/image/fan-de-vu__fourth-teaser-img.jpg"),
    222,125,262);
}

//  Vu & Astuces Figures //

.vu-astuces__first-teaser__figure {
    @include teaser__figureResponsive(url("../../assets/image/vu-astuces__first-teaser-img.jpg"),
    360,256,423);
}

.vu-astuces__second-teaser__figure {
    @include teaser__figureResponsive(url("../../assets/image/vu-astuces__second-teaser-img.jpg"),
    222,125,262);
}

.vu-astuces__third-teaser__figure {
    @include teaser__figureResponsive(url("../../assets/image/vu-astuces__third-teaser-img.jpg"),
    458,227,473);
}

.vu-astuces__fourth-teaser__figure {
    @extend .vu-astuces__second-teaser__figure;
}

.vu-astuces__fifth-teaser__figure {
    @include teaser__figureResponsive(url("../../assets/image/vu-astuces__fifth-teaser-img.jpg"),
    360,256,423);
}

// -- Faq Slider Is In It's Own File -- //

// Cote Business Figures //

.cote-business__first-teaser__figure {
    @extend .vu-astuces__fourth-teaser__figure;
}

.cote-business__second-teaser__figure {
    @extend .vu-astuces__fifth-teaser__figure;

    @include breakpoint(tabletAndDesktop) {
        height: 20rem;
    }
    @include breakpoint(desktopOnly) {
        height: 42.3rem;
    }
}

.cote-business__third-teaser__figure {
    @extend .vu-astuces__first-teaser__figure;

    @include breakpoint(tabletAndDesktop) {
        height: 20rem;
    }
    @include breakpoint(desktopOnly) {
        height: 42.3rem;
    }
}

.cote-business__fourth-teaser__figure {
    @include teaser__figureResponsive(url("../../assets/image/cote-business__fourth-teaser-img.jpg"),
    220,125,261);
}

.cote-business__fifth-teaser__figure {
    @include teaser__figureResponsive(url("../../assets/image/cote-business__fifth-teaser-img.jpg"),
        222,125,261);
}

.cote-business__sixth-teaser__figure {
    @include teaser__figureResponsive(url("../../assets/image/cote-business__sixth-teaser-img.jpg"),
    222,125,261);
}

// -- Portrait Slider is in it's Own File -- //

// Les Plus Figures//

.les-plus__first-teaser__figure {
    @extend .fan-de-vu__third-teaser__figure;
}

.les-plus__second-teaser__figure {
    @extend .fan-de-vu__fourth-teaser__figure;
}

.les-plus__third-teaser__figure {
    @extend .cote-business__fifth-teaser__figure;
}

.les-plus__fourth-teaser__figure {
    @extend .cote-business__sixth-teaser__figure;
}

////////////////////////////////////
/////// SHP FIGURES ///////////////
//////////////////////////////////

// Editor Picks 

.editor-picks__first-teaser__figure {    
    @include teaser__figureResponsive(
    url("../../assets/image/editor-picks__first-teaser-img.jpg"),
    458,202,473);
}

.editor-picks__second-teaser__figure{
    @include teaser__figureResponsive( 
        url("../../assets/image/editor-picks__second-teaser-img.jpg"),
    222,125,262);
    @include width(272,153,320);
    float: right;
}

.editor-picks__third-teaser__figure {
    @extend .news-de-la__first-teaser__figure;
}

.editor-picks__fourth-teaser__figure {
    @include teaser__figureResponsive( 
        url("../../assets/image/editor-picks__fourth-teaser-img.jpg"),
    455,257,535);
}

// Latest News Figures 

.latest-news__first-teaser__figure {
    @include teaser__figureResponsive( 
        url("../../assets/image/latest-news__first-teaser-img.jpg"),
    222,127.7,262);
}

.latest-news__second-teaser__figure {
    @include teaser__figureResponsive( 
        url("../../assets/image/latest-news__second-teaser-img.jpg"),
    222,127.7,262);
}

.latest-news__third-teaser__figure {
    @include teaser__figureResponsive( 
        url("../../assets/image/latest-news__third-teaser-img.jpg"),
    458,230,473);
}


.latest-news__fourth-teaser__figure,
.latest-news__fifth-teaser__figure,
.latest-news__sixth-teaser__figure,
.latest-news__seventh-teaser__figure,
.latest-news__eight-teaser__figure,
.latest-news__ninth-teaser__figure,
.latest-news__tenth-teaser__figure, 
.latest-news__eleventh-teaser__figure,  {
    background: url("http://via.placeholder.com/272x222");
    height: 22rem;

    @include breakpoint(tabletAndDesktop) {
        background: url("http://via.placeholder.com/153x127");
        height: 12.77rem;
    } 
    @include breakpoint(desktopOnly) {
        background: url("http://via.placeholder.com/319x262");
        height: 26.2rem;
    }
}

////////////////////////////////////
/////// SHPFaq FIGURES ////////////
//////////////////////////////////

.qa-list__first-teaser__figure {    
    @include teaser__figureResponsive(
    url("../../assets/image/qa-list__first-teaser-img.jpg"),
    226,112,235);
    @include width(272,135,284);
}

.qa-list__second-teaser__figure {    
    @include teaser__figureResponsive(
    url("../../assets/image/cote-business__fourth-teaser-img.jpg"),
    226,112,235);
    @include width(272,136,284);
}

.qa-list__third-teaser__figure {    
    @include teaser__figureResponsive(
    url("../../assets/image/editor-picks__second-teaser-img.jpg"),
    226,112,235);
    @include width(272,136,284);
}

.qa-list__fourth-teaser__figure {    
    @include teaser__figureResponsive(
    url("../../assets/image/latest-news__second-teaser-img.jpg"),
    226,112,235);
    @include width(272,136,284);
}

.qa-list__fifth-teaser__figure {    
    @include teaser__figureResponsive(
    url("../../assets/image/qa-list__fifth-teaser-img.jpg"),
    226,112,235);
    @include width(272,136,284);
}

// More Q&A Figures //