.topics {

    &__heading {
        @include marginBottom(67,23,20);
        @include breakpoint(tabletAndDesktop) {
            width: 7.2rem;
        }
    }

    li {
    @include fontSize(24,12,12);
    @include lineHeight(87,34,37);
    @include letterSpacing(50,50,50);
    @include marginBottom(33,14,32);
    text-transform: uppercase;
    display: block;

        a {
            background: $lightGray;
            padding: 3rem calcVw(36,640);

            @include breakpoint(tabletAndDesktop) {
                font-weight: 700;
                padding: 1rem calcVw(10,768);
            }
            @include breakpoint(desktopOnly) {
                font-weight: 700;
                padding: 1.3rem calcVw(25,1700);
            }
        }

    }

}