.pagination {
	display: flex;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 5rem auto;


	&__item {
		@include fontSize(32, 19, 20);
		line-height: 11.8vw;
	}

	& .active {
		@include circled-icon(11.875vw);
		background: $lightGray;
		@include breakpoint(tabletAndDesktop) {
			@include circled-icon(6.25vw);
		}
		@include breakpoint(desktopOnly) {
			@include circled-icon(3vw);
		}
	}


}