.article-faq__header-image {
    @include teaser__figureResponsive(
    url("../../assets/image/article-faq__header-img.jpg"),
    330,396,700);
    width: 100%;
}

.widget__social-box--article {
    @include marginBottom(65,31,0);
}

.articles-lies-teaser--article-faq {
    @include marginBottom(95,0,-23);
}

.more-qa-teaser {

    .teaser--right {
        float: left;
    }

    @include breakpoint(tabletOnly) {
        .teaser-wide--xs:nth-child(odd) {
            margin-right: calcVw(10,768);
        }
    }

    @include breakpoint(tabletAndDesktop) {
        .more-qa-wrap {
            float: right;
            width: calcVw(566,768);
            @include breakpoint(desktopOnly) {
                width: calcVw(1180,1700);
            }
        }

        .teaser--right {
            float: right;
        }
    }

}