.article__header {
    @include marginBottom(0,0,0);
    position: relative;
}

.article__header-image {
    @include teaser__figureResponsive(
    url("../../assets/image/article__header-img.jpg"),
    330,396,700);
    width: 100%;
}

.article__header-image__caption {
    position: absolute;
    bottom: 0;
    right: 0;
    background: $white;
    padding: 1.05rem 1.3rem;
    
    p {
        @include fontSize(20,20,20);
        padding: 0;
    }
}


@include breakpoint(desktopOnly) {
    .container--article {
        text-align: center;
    }

    .widget__social-box--article {
        float: left;
    }

    .quiz-teaser--article {
        float: right;
    }
}

