.article__header {
    @include marginBottom(42,50,0);
    position: relative;
}

.article__header-image {
    @include teaser__figureResponsive(
    url("../../assets/image/article__header-img.jpg"),
    330,396,700);
    width: 100%;
}

.article__header-image__caption {
    position: absolute;
    bottom: 0;
    right: 0;
    background: $white;
    padding: 1.05rem 1.3rem;
    @include breakpoint(tabletAndDesktop) {

    }
    
    p {
        @include fontSize(20,11,12);
        padding: 0;
        color: $black;
    }
}

.breadcrumbs--article {
    margin: 6.2rem 0 5.5rem 0;
}

.container--article {
    @include breakpoint(tabletAndDesktop) {
        width: calcVw(566,768);
        margin: 0 auto;
        @include breakpoint(desktopOnly) {
            width: calcVw(1180, 1700);
        }
    }
}

.container--article-body {
    @include breakpoint(desktopOnly) {
        width: 50%;
        float: left;
        text-align: left;
        margin-left: calcVw(70,1700);
    }
}

.widget__social-box--article {
    @include marginBottom(55,40,0);
    @include breakpoint(tabletOnly) {
        margin-left: 4.05rem;
    }
    @include breakpoint(desktopOnly) {
        margin-left: 3rem;
    }
}

.quiz-teaser--article {
    @include marginBottom(48,144,0);
    @include breakpoint(phoneOnly) {
        width: 64rem;
        margin-left: -4rem;
    }
}

.articles-lies-teaser--article {
    @include marginBottom(43,0,0);
}


@include breakpoint(desktopOnly) {

    .widget__social-box--article {
        float: left;
        margin-top: -0.5rem;
    }

    .quiz-teaser--article {
        float: right;
        margin-top: 2.4rem;
    }
}

