.article-faq__header {
    @include marginBottom(0,0,0);
    position: relative;
}

.article-faq__header-image {
    @include teaser__figureResponsive(
    url("../../assets/image/article-faq__header-img.jpg"),
    330,396,700);
    width: 100%;
}

@include breakpoint(desktopOnly) {
    .container--article {
        text-align: center;
    }

    .widget__social-box--article {
        float: left;
    }

    .quiz-teaser--article {
        float: right;
    }
}

section {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.more-qa-teaser {
    .row--td {
        float: right;
    }
}