.news-de-la {
  margin-top: 4rem;

  @include breakpoint(tabletAndDesktop) {
    margin-top: 11rem;
  }
}

.fan-de-vu {
  background: $lightGray;
}

.line-break {
  margin-top: 5rem;
  margin-bottom: 8.7rem;
  opacity: 0.3;
}

.faq {
  height: 52rem;
  top: 26.5rem;
  background: $lightGray;
  position: relative;
  margin-bottom: 34rem;
}

.les-plus {
  margin-top: 9rem; 
  background: $lightGray;
  padding: 5rem 0 6rem;  
}

