.news-de-la {
  @include marginTop(40,115,239)
}

.fan-de-vu {
  background: $lightGray;
  height: 85rem;
  @include marginBottom(835,267,730);
  padding-top: 6.6rem;
  @include width(640,647,1336);

  @include breakpoint(tabletAndDesktop) {
    height: calcRem(359.56);
    padding-top: 0;
    margin: 0 auto;
  }
  @include breakpoint(desktopOnly) {
    height: 74.6rem;
  }
}

.line-break {
  @include marginTop(50,32,32);
  @include marginBottom(354,84,41);
  opacity: 0.3;
}

.faq {
  background: $lightGray;
  position: relative;
  @include marginBottom(84,117,117);

  @include breakpoint(tabletAndDesktop) {
    width: 84.24479166666667vw;
    margin: 0 auto;
  }

}

.cote-business {
  @include breakpoint(tabletAndDesktop) {
    margin-top: 11.7rem;
  }
}

.les-plus { 
  background: $lightGray;
  padding: 5rem 0 6rem;

  @include breakpoint(tabletAndDesktop) {
    padding: 0;
  }
  
  .container {
    position: relative;
  }
}