.news-de-la {
  margin-top: 4rem;

  @include breakpoint(tabletAndDesktop) {
    margin-top: 11rem;
  }
}

.fan-de-vu {
  background: $lightGray;
  height: 85rem;
  @include marginBottom(835,267,730);
  padding-top: 6.6rem;

  @include breakpoint(tabletAndDesktop) {
    height: calcRem(359.56);
  }
}

.line-break {
  @include marginTop(50,32,32);
  @include marginBottom(354,84,41);
  opacity: 0.3;
}

.faq {
  background: $lightGray;
  position: relative;
  @include marginBottom(84,117,117);
}

.les-plus {
  margin-top: 9rem; 
  background: $lightGray;
  padding: 5rem 0 6rem;  
}