.hidden--tab {
    @include breakpoint(tabletOnly) {
        display: none;
    }
    @include breakpoint(desktopOnly) {
        display: inline-block;
    }
    
}

.hidden--desk,
.hidden--desk.teaser {
    @include breakpoint(desktopOnly) {
        display: none;
    }
}

.hidden--until-td {
    display: none;
    @include breakpoint(tabletAndDesktop) {
        display: inline-block;
    }

}