.shp__header {
    @include marginBottom(74,80,115);
    position: relative;
}

.shp__header-image {
    @include teaser__figureResponsive(
    url("../../assets/image/shp__header-img.jpg"),
    330,396,700);
    @include breakpoint(tabletAndDesktop) {
        width: calcVw(708,768);
    }
    @include breakpoint(desktopOnly) {
        width: calcVw(1354,1700);
    }
}

.shp__header-image__text {
    box-sizing: border-box;
    padding: 7.1rem 0 0 calcVw(115,640);
    
    @include breakpoint(tabletAndDesktop) {
        padding: 16.5rem 0 0 calcVw(60,768);
    }
    @include breakpoint(desktopOnly) {
        padding: 29.1rem 0 0 calcVw(260,1700);
    }
    .button {
        @include marginBottom(16,7,15);
    }
}

.shp__header-text {
    box-sizing: border-box;
    padding: 3.82rem 3.5rem 4.1rem 3.8rem;
    @include fontSize(28,14,18);
    @include lineHeight(42,20,28);
    @include letterSpacing(50,50,50);
    color: $black; 
    background-color: $yellow;
    
    @include breakpoint(tabletAndDesktop) {
        width: calcVw(380,768);
        padding: 4rem calcVw(47,768) 3.2rem calcVw(56,768);
        line-height: 20px;
        position: absolute;
        top: 5rem;
        right: 0;
        @include breakpoint(desktopOnly) {
            width: calcVw(580,1700);
            padding: 11.3rem calcVw(78, 1700) 12.7rem calcVw(86, 1700);
            line-height: 2.8rem;
            max-height: 62.8rem;
            top: 16rem;
        }
    }
}

.breadcrumbs--shp {
    margin: 3% 0 -4% 15.2%;

}


.editor-picks {
    @include marginBottom(122,118,207);
}

.shp-row--td {
    @include breakpoint(tabletAndDesktop) {
        width: 84.24479vw;
        margin-bottom: 5.8rem;
    }
    @include breakpoint(desktopOnly) {
        width: 79.70588vw;
        margin-bottom: 15.7rem;
    }
}
.latest-news--shp {
    @include marginBottom(0,23,0);
}

.qa {
    @include marginBottom(87,0,0);
    @include breakpoint(tabletAndDesktop) {
        max-width: calcVw(442,768);
        float: left;
        margin-right: 1.2rem;
    }
    @include breakpoint(desktopOnly) {
        max-width: calcVw(835,1700);
        margin-right: 19.6rem;
    } 
}

.pagination-block--shp {
    @include marginBottom(50,41,74);
}

.topics {
    @include marginBottom(110,0,0);
    @include breakpoint(tabletAndDesktop) {
        float: left;
        max-width: calcVw(192,768);
        margin-top: 5.4rem;
    }
    @include breakpoint(desktopOnly) {
        max-width: calcVw(215,1700);
        margin-top: 23rem;
    }
}