.page-test-result {

	@include marginTop(120,110,159);

	&.container {
		@include breakpoint(tabletOnly) {
			width: calcVw(566,768);
		}
	}

	&__heading {
		text-transform: none;
		@include fontSize(50,44,0);
		@include lineHeight(42,30,0);
		letter-spacing: calcLS(50);
		margin-bottom: 8rem;
		@include breakpoint(tabletOnly) {
			margin-bottom: 6rem;
		}
		@include breakpoint(desktopOnly) {
			margin-bottom: 0;
		}
	}

	&__car {
		@include width(570,566,600);
		@include height(330,354,354);
		margin: 0 auto;
		background: center / cover no-repeat url("../../assets/image/psychotest/test-result__car.png");   
		
		@include breakpoint(tabletAndDesktop) {
				background: center / cover no-repeat url("../../assets/image/psychotest/test-result__car.png");
		}
		@include breakpoint(desktopOnly) {
				background: center / cover no-repeat url("../../assets/image/psychotest/test-result__car.png");
		}
	}

	.widget__social-box .social-box{
		margin: 5rem auto 5rem;
		@include breakpoint(tabletOnly) {
			margin: 8rem auto 6rem; 
		}
		@include breakpoint(desktopOnly) {
			width: 4.7rem;
			height: 25.9rem;

			.social-box__box {
				width: 4.6rem;
				height: 4.6rem;
				margin: 2.8rem 2.9rem 0 -2.8rem;
				svg {
					font-size: 1.5rem;
				}
			}
		}
	}

	&__paragraphs {
		@include breakpoint(desktopOnly) {
			width: calcVw(492,1700);
		}
		p {
			color: #7e7e7e;
			padding-top: 0;
			@include fontSize(28,16,16);
			@include lineHeight(42,22,22);
			@include letterSpacing(45,50,50);
		}

	}

	.btn--wrap {
		margin: 7.5rem auto 12rem;
		@include breakpoint(tabletAndDesktop) {
			margin: 7.1rem auto 13.2rem;
			text-align: center;
		}
		@include breakpoint(desktopOnly) {
			margin: 2.4rem auto 19.1rem;
		}
	}

	.btn {
		margin: 3.5rem auto;
		padding-left: 0;
		padding-right: 0;
		@include breakpoint(tabletAndDesktop) {
			display: inline-block;
			margin: 0 1.25rem;
			width: 23.3rem;
			height: 5.9rem;
		}
		@include breakpoint(desktopOnly) {
			font-size: 1.4rem;
			font-weight: 700;
			line-height: 3.6rem;
			letter-spacing: 0.05em;
		}
	}

}

.les-plus {

	&__heading {
		margin: -1rem 0 3rem 0;
		width: 5rem;
		@include breakpoint(tabletAndDesktop) {
			width: 8rem;
			margin-left: -1.2rem;
		}
		
		h2 {
			line-height: 4.3rem;
			@include breakpoint(tabletAndDesktop) {
				line-height: 1.1;
			}
		}
	}

	.figure {
		filter: none;
	}

}


// Modifier For Desktop!

@include breakpoint(desktopOnly) {
	.page-test-result {
		display: flex;
		justify-content: flex-end;

		.widget__social-box {
			order: 1;
		}

		.page-test-result--wrap {
			order: 2;
			margin: 0 8.2rem 0 7rem;
		}

		.textbtn--wrap {
			order: 3;
		}

		.desktop-heading {
			letter-spacing: calcLS(50);
			font-size: 4.4rem;
			line-height: 3rem;
			color: $yellow;
			margin-bottom: 3rem;
		}
	}

	.les-plus {
		width: 79.52941vw;
		margin: 0 auto;


		&__heading {
			margin-left: 4rem;
			margin-top: 0;
		}

		&__navigation {
			display: none!important;
		}

	}
}