.page-test-result {

	@include marginTop(120,110,159);

	&__heading {
		text-transform: none;
		@include fontSize(50,44,0);
		@include lineHeight(42,30,0);
		letter-spacing: calcLS(50);
		margin-bottom: 8rem;
		@include breakpoint(desktopOnly) {
			margin-bottom: 0;
		}
	}

	&__car {
		@include width(570,640,600);
		@include height(330,355,354);
		margin: 0 auto;
		background: center / cover no-repeat url("../../assets/image/psychotest/test-result__car.png");   
		
		@include breakpoint(tabletAndDesktop) {
				background: center / cover no-repeat url("../../assets/image/psychotest/test-result__car.png");
		}
		@include breakpoint(desktopOnly) {
				background: center / cover no-repeat url("../../assets/image/psychotest/test-result__car.png");
		}
	}

	.widget__social-box .social-box{
		margin: 5rem auto 5rem;
		@include breakpoint(desktopOnly) {
			width: 4.7rem;
			height: 25.9rem;

			.social-box__box {
				width: 4.6rem;
				height: 4.6rem;
				margin: 2.8rem 2.9rem 0 -2.8rem;
				svg {
					font-size: 1.5rem;
				}
			}
		}
	}

	&__paragraphs {
		@include breakpoint(desktopOnly) {
			width: calcVw(492,1700);
		}
		p {
			color: #7e7e7e;
			padding-top: 0;
			@include fontSize(28,16,16);
			@include lineHeight(42,22,22);
			@include letterSpacing(45,50,50);
		}

	}

	.btn--wrap {
		margin: 7.5rem auto 12rem;
		@include breakpoint(tabletAndDesktop) {
			margin: 4.1rem auto 13.2rem;
			text-align: center;
		}
		@include breakpoint(desktopOnly) {
			margin: 2.4rem auto 19.1rem;
		}
	}

	.btn {
		margin: 3.5rem auto;
		padding-left: 0;
		padding-right: 0;
		@include breakpoint(tabletAndDesktop) {
			display: inline-block;
			margin: 0 2.5rem;
		}
	}

}

// Modifier For Desktop!

@include breakpoint(desktopOnly) {
	.page-test-result {
		display: flex;
		justify-content: space-evenly;

		.widget__social-box {
			order: 1;
		}

		.page-test-result--wrap {
			order: 2;
		}

		.textbtn--wrap {
			order: 3;
		}

		.desktop-heading {
			letter-spacing: calcLS(50);
			font-size: 4.4rem;
			line-height: 3rem;
			color: $yellow;
			margin-bottom: 3rem;
		}
	}
}