.diaporama-trigger {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;

    &__button {
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 300;
    }
  
    &__slide {
      position: relative;
      width: 100%;
    }

    &__navigation {
        position: relative;
        width: 90%;
        margin: 0 auto;
        top: 24vw;
        z-index: 1000;
    
        @include breakpoint(tabletOnly) {
          top: 27vw;
        }
    
        @include breakpoint(desktopOnly) {
          top: 22vw;
        }
      }

      &__prev, &__next {
        @include circled-icon(8.5vw);
        background: $yellow;
        color: $black;
        top: -2vw;
        font-size: 1.5rem;
    
        @include breakpoint(tabletOnly) {
          @include circled-icon(4.5vw);
          font-size: 1.3rem;
          top: -1.8vw;
        }
    
        @include breakpoint(desktopOnly) {
          @include circled-icon(2vw);
          font-size: 1.1rem;
          top: 12vw;
        }

      }

      &__prev {
        left: 1vw;
    
        @include breakpoint(tabletOnly) {
          left: -1.4vw;
        }
    
        @include breakpoint(desktopOnly) {
          left: 25.6vw;
        }
      }
    
      &__next {
        right: 1vw;
    
        @include breakpoint(tabletOnly) {
          right: -1.4vw;
        }
    
        @include breakpoint(desktopOnly) {
          right: 21.6vw;
        }
      }
  
    &__thumbs {
      width: calcVw(580, 1700);
      position: absolute;
      bottom: 3.7vw;
      left: 52%;
      margin-left: -17%;
      z-index: 1000;

    @include breakpoint(phoneAndTablet) {
      display: none;
    }
}

    &__thumb {
        position: relative;
        cursor: pointer;
        outline: none;
        max-width: calcVw(100, 1700);

        &:nth-child(even) {
            margin: 0 calcVw(20, 1700);
        }

    }

    &__footnote {
        @extend .button--caption;
        right: 0;
        background-color: $white;
        
        span {
            color: $black;
            @include fontSize(20,11,11);
            @include letterSpacing(18,18,18);
            @include lineHeight(40,40,40);
            padding: 0 calcRem(13) 0 calcRem(10);
        }
    }
}
  

// Diaporama Images and Thumbs 

.diaporama-trigger__slide1 {
    @include teaser__figureResponsive(
        url("https://dummyimage.com/1700x450/b8b8b8/474747.png"),
    330,202,700);
}

.diaporama-trigger__thumb1 {
    @include teaser__figureResponsive(
        url("https://dummyimage.com/100x81/b8b8b8/474747.png"),
        81,81,81
    );
}

.diaporama-trigger__slide2 {
    @include teaser__figureResponsive(
        url("https://dummyimage.com/1700x450/b8b8b8/474747.png"),
        330,396,700
    );
}

.diaporama-trigger__thumb2 {
    @include teaser__figureResponsive(
        url("https://dummyimage.com/100x81/b8b8b8/474747.png"),
        81,81,81
    );
}

.diaporama-trigger__slide3 {
    @include teaser__figureResponsive(
        url("https://dummyimage.com/1700x800/b8b8b8/474747.png"),
        330,396,700
    );
}

.diaporama-trigger__thumb3 {
    @include teaser__figureResponsive(
        url("https://dummyimage.com/100x81/b8b8b8/474747.png"),
        81,81,81
    );
}

.diaporama-trigger__slide4 {
    @include teaser__figureResponsive(
        url("https://dummyimage.com/1700x450/b8b8b8/474747.png"),
        330,396,700
    );
}

.diaporama-trigger__thumb4 {
    @include teaser__figureResponsive(
        url("https://dummyimage.com/100x81/b8b8b8/474747.png"),
        81,81,81
    );
}

.diaporama-trigger__slide5 {
    @include teaser__figureResponsive(
        url("https://dummyimage.com/1700x800/b8b8b8/474747.png"),
        330,396,700
    );
}

.diaporama-trigger__thumb5 {
    @include teaser__figureResponsive(
        url("https://dummyimage.com/100x81/b8b8b8/474747.png"),
        81,81,81
    );
}