.diaporama {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $yellow;
    z-index: 999999999;
    overflow-y: scroll;
  }
  
  html.diaporamaOpened, body.diaporamaOpened {
    overflow: hidden;
  }
  
  .diaporama--wrap, .diaporama__slide {
    width: 100%;
    overflow: hidden;
  }
  
  .diaporama__close {
    color: $black;
    position: fixed;
    top: 2.6vw;
    right: 3.6vw;
    cursor: pointer;
    z-index: 999999999;
    font-size: calcRem(45);
  
    @include breakpoint(tabletOnly) {
      font-size: calcRem(40);
      right: 4.6vw;
    }
  
    @include breakpoint(desktopOnly) {
      font-size: calcRem(60);
      top: 0.8vw;
      right: 1.5vw;
    }
  }
    
  .diaporama__image {
    position: relative;
    width: 100%;
    overflow: hidden;
    @include width(640,768,947);
    @include height(550,570,584);
    background: center / cover no-repeat url("https://dummyimage.com/640x550/b8b8b8/474747.png");

    @include breakpoint(tabletAndDesktop) {
      background: center / cover no-repeat url("http://via.placeholder.com/768x570");
    } 
  
    @include breakpoint(desktopOnly) {
      background: center / cover no-repeat url("http://via.placeholder.com/947x584");
      top: 13%;
      left: 10.2%;
      z-index: 100;
    }
  }
  
  .diaporama__body {
    width: 87%;
    padding: 7vw 0;
    position: relative;
    margin: 0 auto;
    background: $yellow;
    color: $black;
  
    @include breakpoint(tabletOnly) {
      width: 84.5%;
      padding: 5vw 0;
    }
  
    @include breakpoint(desktopOnly) {
      position: absolute;
      top: 0;
      right: 0;
      width: 41.2%;
      height: 100%;
      padding: 0;
      z-index: 10;
    }
  
    &--wrap {
      width: 100%;
  
      @include breakpoint(desktopOnly) {
        width: 46%;
        position: relative;
        top: 13%;
        left: 29.5%;
      }
    }
  }
  
  .diaporama__heading {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 4vw;
    @include fontSize(40,32,24);
    @include lineHeight(42,32,28);
    @include letterSpacing(50,50,50);
  
    @include breakpoint(tabletOnly) {
      margin-bottom: 4vw;
    }
  
    @include breakpoint(desktopOnly) {
      margin-bottom: 1.8vw;
    }
  }
  
  .diaporama__text {
    margin-bottom: 8vw;
    color: $black;
    @include fontSize(28,16,16);
    @include lineHeight(40,24,24);
    @include letterSpacing(50,50,50);
  
    @include breakpoint(tabletOnly) {
      margin-bottom: 6vw;
    }
  
    @include breakpoint(desktopOnly) {
      margin-bottom: 2vw;
    }
  }
  
  .diaporama__social-twitter,
  .diaporama__social-facebook {

    @include circled-icon(6.8rem);
    display: inline-block;
    background: $black;
    color: $yellow;
    margin-right: 8vw;
    @include fontSize(30,23,12);
  
    @include breakpoint(tabletOnly) {
      @include circled-icon(4.9rem);
      margin-right: 0.4vw;
    }
  
    @include breakpoint(desktopOnly) {
      @include circled-icon(2.8rem);
      margin-right: 0.1vw;
    }
    
  }


  
  .diaporama__counter {
    font-weight: 900;
    color: $white;
    margin-bottom: 4.2vw;
    @include fontSize(32,24,24);
  
    @include breakpoint(tabletOnly) {
      margin-bottom: 4vw;
    }
  
    @include breakpoint(desktopOnly) {
      margin-bottom: 2vw;
    }
  
    & .diaporama__separator {
      margin: 0 -1.3vw;
  
      @include breakpoint(tabletOnly) {
        margin: 0 -0.7vw;
      }
  
      @include breakpoint(desktopOnly) {
        margin: 0 -0.4vw;
      }
    }
  }
  
  .diaporama__counter .diaporama__current {
    color: $black;
  }
  
  .diaporama__thumbs {
    @include breakpoint(phoneAndTablet) {
      display: none;
    }
  
    width: 41.7%;
    position: absolute;
    bottom: 4vh;
    left: 10.2%;
    overflow: hidden;
    z-index: 30;
  
    & .diaporama__thumb {
      position: relative;
      display: inline-block;
      height: 100%;
      margin-right: 0.79%;
      cursor: pointer;
      outline: none;
      // filter: grayscale(100%);
      background: center / cover no-repeat url("https://dummyimage.com/100x82/b8b8b8/474747.png");
      height: 8.2rem;
      width: 10rem;
  
      & .overlay {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: inset 0 0 0 5px $yellow;
        transition: opacity .1s linear;
      }
  
    }
  
    & .diaporama__thumb:hover, .diaporama__thumb.slick-current {
  
      & img {
        filter: grayscale(0);
      }
  
      & .overlay {
        opacity: 1;
      }
  
    }
  
  }
  
  @include breakpoint(desktopOnly) {
  
    .diaporama {
      background: $white;
    }
  
    .diaporama--wrap, .diaporama__slide {
      height: 100%;
    }
  
    .diaporama .slick-list, .diaporama .slick-list .slick-track {
      height: 100%;
    }
  
    .diaporama__slide {
      position: relative;
    }
  
  }
  