.diaporama-trigger {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    @include marginBottom(42,50,0);

    &__button {
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 300;
        max-height: 6.1rem;
        max-width: 19rem;
        @include breakpoint(tabletAndDesktop) {
            top: 53%;
        }
        @include breakpoint(desktopOnly) {
            top: 58.5%;
        }

        .btn--diaporama {
            font-size: 1.6rem;
            box-sizing: border-box;
            color: $darkGray;
            letter-spacing: calcLS(100);
            height: 6.1rem;
            width: 19rem;

            &:active, &:hover {
                background: $yellow;
                color: $darkGray;
            }
        }
    }
  
        &__slide {
        position: relative;
        width: 100%;

        &__overlay {
            @include breakpoint(phoneAndTablet) {
            display: none;
            }

            @include breakpoint(desktopOnly) {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: $black;
                z-index: 30;
                opacity: 0;
                transition: opacity .2s linear;
            }
        }
    }

    &:hover {
    
        .diaporama-trigger__slide__overlay {
          opacity: 0.3;
        }
    
        .diaporama-trigger__thumb.slick-current {
            filter: grayscale(0);
    
          & .overlay {
            opacity: 1;
          }
        }
    
        .diaporama-trigger__thumb img {
         filter: grayscale(100%);
       }
      }

    &__navigation {
        position: relative;
        width: 90%;
        margin: 0 auto;
        top: 24vw;
        z-index: 1000;
    
        @include breakpoint(tabletOnly) {
          top: 27vw;
        }
    
        @include breakpoint(desktopOnly) {
          top: 22vw;
        }
      }

      &__prev, &__next {
        @include circled-icon(8.5vw);
        background: $yellow;
        color: $black;
        top: -2vw;
        font-size: 1.5rem;
    
        @include breakpoint(tabletOnly) {
          @include circled-icon(4.5vw);
          font-size: 1.3rem;
          top: -1.8vw;
        }
    
        @include breakpoint(desktopOnly) {
          @include circled-icon(2vw);
          font-size: 1.1rem;
          top: 12vw;
        }
    }

      &__prev {
        left: 1vw;
    
        @include breakpoint(tabletOnly) {
          left: -1.4vw;
        }
    
        @include breakpoint(desktopOnly) {
          left: 25.6vw;
        }
      }
    
      &__next {
        right: 1vw;
    
        @include breakpoint(tabletOnly) {
          right: -1.4vw;
        }
    
        @include breakpoint(desktopOnly) {
          right: 21.6vw;
        }
      }
  
    &__thumbs {
      width: calcVw(580, 1700);
      position: absolute;
      bottom: 3.7vw;
      left: 52%;
      margin-left: -17%;
      z-index: 1000;

      @include breakpoint(phoneAndTablet) {
        display: none;
      }

      .slick-list {
          transform: none!important;
          .slick-track {
              transform: none!important;
          }
        }
    }

    &__thumb {
        position: relative;
        cursor: pointer;
        outline: none;
        max-width: calcVw(100, 1700);

        &:nth-child(even) {
            margin: 0 calcVw(20, 1700);
        }

    }

    &__footnote {
        @extend .button--caption;
        right: 0;
        background-color: $white;
        
        span {
            color: $black;
            @include fontSize(20,11,11);
            @include letterSpacing(18,18,18);
            @include lineHeight(40,40,40);
            padding: 0 calcRem(13) 0 calcRem(10);
        }
    }
}
  

// Diaporama Images and Thumbs 

.diaporama-trigger__slide1 {
    @include teaser__figureResponsive(
        url("../../assets/image/diaporama__first-slide.jpg"),
    330,396,700);
}

.diaporama-trigger__thumb1 {
    @include teaser__figureResponsive(
        url("../../assets/image/diaporama__first-slide.jpg"),
        81,81,81
    );
}

.diaporama-trigger__slide2 {
    @include height(330,396,700);
    background: center / cover no-repeat url("http://via.placeholder.com/640x330");

    @include breakpoint(tabletAndDesktop) {
        background: center / cover no-repeat url("http://via.placeholder.com/768x396");
    }
    @include breakpoint(desktopOnly) {
        background: center / cover no-repeat url("http://via.placeholder.com/1700x700");
    }
}

.diaporama-trigger__thumb2 {
    @include breakpoint(desktopOnly) {
        height: 8.1rem;
        @include height(81,81,81);
        box-sizing: border-box;
        border: 5px solid #9FC2BA;
        background: center / cover no-repeat url("http://via.placeholder.com/100x81");
    }
}

.diaporama-trigger__slide3 {
    @include height(330,396,700);
    background: center / cover no-repeat url("http://via.placeholder.com/640x330");

    @include breakpoint(tabletAndDesktop) {
        background: center / cover no-repeat url("http://via.placeholder.com/768x396");
    }
    @include breakpoint(desktopOnly) {
        background: center / cover no-repeat url("http://via.placeholder.com/1700x700");
    }
}

.diaporama-trigger__thumb3 {
    @include breakpoint(desktopOnly) {
        height: 8.1rem;
        box-sizing: border-box;
        border: 5px solid #9FC2BA;
        background: center / cover no-repeat url("http://via.placeholder.com/100x81");
    }
}

.diaporama-trigger__slide4 {
    @include height(330,396,700);
    background: center / cover no-repeat url("http://via.placeholder.com/640x330");

    @include breakpoint(tabletAndDesktop) {
        background: center / cover no-repeat url("http://via.placeholder.com/768x396");
    }
    @include breakpoint(desktopOnly) {
        background: center / cover no-repeat url("http://via.placeholder.com/1700x700");
    }
}

.diaporama-trigger__thumb4 {
    @include breakpoint(desktopOnly) {
        height: 8.1rem;
        box-sizing: border-box;
        border: 5px solid #9FC2BA;
        background: center / cover no-repeat url("http://via.placeholder.com/100x81");
    }
}

.diaporama-trigger__slide5 {
    @include teaser__figureResponsive(
        url("../../assets/image/hp-slider__first-slide.jpg"),
    330,396,700);
}

.diaporama-trigger__thumb5 {
    @include teaser__figureResponsive(
        url("../../assets/image/hp-slider__first-slide.jpg"),
        81,81,81
    );
}

.diaporama-trigger--portrait {
    width: 100vw;
    margin-left: calcVw(-40,640);
}