// Search widget

.search-trigger {
  color: $white;
  float: right;
  position: relative;
  top: 2.8rem;
  right: 0.2rem;
  @include fontSize(30,35,17);

  @include breakpoint(tabletOnly) {
      right: 0.8rem;
      top: 2.5rem;
  }

  @include breakpoint(desktopOnly) {
      top: 2.5rem;
      right: 0.6rem;
  }
}
  
  .search-popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999999;
    background: rgba(0, 0, 0, 0.8);
  
    & .search__close {
      position: absolute;
      top: 2.7vw;
      right: 5.4vw;
      font-size: 4.8rem;
      cursor: pointer;
  
      @include breakpoint(tabletOnly) {
        top: 2.1vw;
        right: 4.2vw;
        font-size: 5.5rem;
      }
  
      @include breakpoint(desktopOnly) {
        font-size: 6rem;
        top: 1.5vw;
        right: 2.5vw;
      }
    }
  
    & .search__field {
      position: relative;
      top: 37.2%;
      width: 93%;
      margin-left: 6.3%;
  
      @include breakpoint(tabletOnly) {
        top: 34.3%;
        width: 92%;
        margin-left: 7.8%;
      }
  
      @include breakpoint(desktopOnly) {
        top: 43%;
        width: 74%;
        margin-left: 15.5%;
      }
  
      & input {
        width: 85.7%;
        background: transparent;
        border: 0;
        color: $white;
        border-bottom: 1px solid $white;
        padding-bottom: 2vw;
        @include fontSize(40,40,80);
        @include letterSpacing(0,0,0);
  
        @include breakpoint(tabletOnly) {
          padding-bottom: 1vw;
          width: 85.5%;
        }
  
        @include breakpoint(desktopOnly) {
  
        }
  
        &:focus {
          outline: none;
          border-bottom: 1px solid $white;
        }
      }
  
      & svg {
        font-size: 4rem;
        position: relative;
        top: -1.6vw;
  
        @include breakpoint(tabletOnly) {
          font-size: 4rem;
          top: 0.5vw;
        }
  
        @include breakpoint(desktopOnly) {
          font-size: 7rem;
          top: 0.3vw;
          left: 1.4vw;
        }
      }
    }
  }