.social-box {
    @include width(415,283,74);
    @include height(92,74,335);
    text-align: center;
}

.social-box__box {
    @include width(98,63,63);
    @include height(98,63,63);
    background: $white;
    border: 0.1rem solid $yellow;
    display: inline-block;
    @include marginTop(-36,-23,0);
    @include breakpoint(desktopOnly) {
        margin: 3.6rem 3.7rem 0 -3.6rem;
    }

    svg {
        @include fontSize(30,23,25);
        color: $yellow;
        margin: auto;
        height: 100%;
    }

}

.social-box__box--padder {
    @include marginLeft(36.5,23,-36);
    @include marginRight(36.5,23,37);
}