html, body {
  overflow-x: hidden;
}

body {
  font-size: 100%;
  position: relative;
  max-width: 100%;
  background: $white;
  transition: all 0.2s linear;
}

.page {
  @include marginTop(85,85,66);
}

a img {
  border: none;
  outline: none;
}

.clearfix::before, .clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  @include width($container-mobile, $container-tablet, $container-desktop);
  margin: 0 auto;
  font-size: 0;
  line-height: 0;

  &--full-mob {
    @include width($site-mob-design, $container-tablet, $container-desktop);
  }
}

.hidden {
  display: none;
  @include breakpoint(desktopOnly) {
    display: inline-block;
  }
}

@include breakpoint(tabletAndDesktop) {
  .row--td {
    display: block;
    margin: 0 auto;
    @include clearfix;
  }

  .col--half-left {
    float: left;
    width: calcVw(289,768);
    @include breakpoint(desktopOnly) {
      width: calcVw(578, 1700);
      padding-left: calcVw(84, 1700);
      margin-right: calcVw(24, 1700);
    }
  }

}