html, body {
  overflow-x: hidden;
}

body {
  font-size: 100%;
  position: relative;
  max-width: 100%;
  background: $white;
  transition: all 0.2s linear;
}

.page {
  padding-top: 8.5rem;
  @include breakpoint(desktopOnly) {
    padding-top: 6.6rem;
  }
}

a img {
  border: none;
  outline: none;
}

.clearfix::before, .clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  @include width($container-mobile, $container-tablet, $container-desktop);
  margin: 0 auto;
  font-size: 0;
  line-height: 0;

  &--full-mob {
    @include width($site-mob-design, $container-tablet, $container-desktop);
  }
}

.hidden {
  display: none;
  @include breakpoint(desktopOnly) {
    display: inline-block;
  }
}

.col-wrap--left {
  float: left;
}

@include breakpoint(tabletAndDesktop) {

  .row--mob {
    display: inline-block;
  }
  
  .row--td {
    display: block;
    margin: 0 auto;
    @include clearfix;
  }

  .col--half-left {
    float: left;
    width: calcVw(289,768);
    @include breakpoint(desktopOnly) {
      width: calcVw(578, 1700);
      padding-left: calcVw(84, 1700);
      margin-right: calcVw(24, 1700);
    }
  }

}