$font-size-base: 10;

//------GLOBAL FONT SETTINGS
html {
  @include fontSizeVw($font-size-base, $font-size-base, $font-size-base);
}

// Fonts \\

body {
  font-family: 'Lato', sans-serif;
}

@font-face {
  font-family: 'Airways';
  src: url('../../assets/fonts/Airways.woff');
}

// Headings and other 

h1{
  @include fontSize(40,32,70);
  @include lineHeight(42,32,70.78);
  @include letterSpacing(-25,-25,-25);
  vertical-align: -4.42px;
}

h2 {
  @include fontSize(40,20,32);
  @include lineHeight(48,24.52,48);
  @include letterSpacing(50,50,0);
}

h3 {
  @include fontSize(30,16,36);
  @include lineHeight(48.87,37.75,83.36);
  @include letterSpacing(-25,-25,-25);
}

h4 {
  @include fontSize(28,14,18);
  @include lineHeight(32,18,26);
  @include letterSpacing(50,50,50);
  margin-top: 1rem;
  display: inline-block;
  vertical-align: top;
}

h1,h2,h3 {
  text-transform: uppercase;
}


// text modifiers \\

.text--regular {
  font-weight: 400;
}

.text--bold {
  font-weight: 700;
}

.text--bolder {
  font-weight: 900;
}

.text--italic {
  font-family: 'Airways';
  text-transform: none;
  padding-left:1rem;
}

.text--clear {
  text-decoration: none;
}

.text--underline {
  text-decoration: underline;
}

.text--white {
  color: $white;
}

.text--gray {
  color: $gray;
}

.text--yellow {
  color: $yellow;
}

.text--black {
  color: $black;
}

.text--center {
  text-align: center;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}