$font-size-base: 10;

//------GLOBAL FONT SETTINGS
html {
  @include fontSizeVw($font-size-base, $font-size-base, $font-size-base);
}

// Fonts \\

body {
  font-family: 'Lato', sans-serif;
}

@font-face {
  font-family: 'Airways';
  src: url('../../assets/fonts/Airways.woff');
}

// Headings and other 

h1{
  font-size: 4.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.8rem;
  margin-top: 1rem;
  display: inline-block;
  vertical-align: top;
}

h1,h2,h3 {
  text-transform: uppercase;
}

h1,h2,h3,h4 {
  letter-spacing: calcLS(50);
  line-height: calcRem(32);
}


// text modifiers \\

.text--regular {
  font-weight: 400;
}

.text--bold {
  font-weight: 700;
}

.text--bolder {
  font-weight: 900;
}

.text--italic {
  font-family: 'Airways';
  text-transform: none;
  padding-left:1rem;
}

.text--clear {
  text-decoration: none;
}

.text--underline {
  text-decoration: underline;
}

.text--white {
  color: $white;
}

.text--gray {
  color: $gray;
}

.text--yellow {
  color: $yellow;
}

.text--black {
  color: $black;
}

.text--center {
  text-align: center;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}
