a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  font-weight: 100; }

* {
  -webkit-tap-highlight-color: transparent !important; }

html {
  line-height: 1; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
td,
th {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none; }

b,
strong {
  font-weight: bold; }

em,
i {
  font-style: italic; }

u {
  text-decoration: underline; }

a img {
  border: none; }

a, button {
  cursor: pointer;
  outline: none; }

a {
  color: inherit; }

input {
  outline: none; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

html {
  font-size: 10px; }
  @media (max-width: 767px) {
    html {
      font-size: 1.5625vw; } }
  @media (min-width: 768px) {
    html {
      font-size: 1.30208vw; } }
  @media (min-width: 1024px) {
    html {
      font-size: 0.58824vw; } }

body {
  font-family: 'Lato', sans-serif; }

@font-face {
  font-family: 'Airways';
  src: url("../../assets/fonts/Airways.woff"); }

@media (max-width: 767px) {
  h1 {
    font-size: 4rem; } }

@media (min-width: 768px) {
  h1 {
    font-size: 3.2rem; } }

@media (min-width: 1024px) {
  h1 {
    font-size: 7rem; } }

@media (max-width: 767px) {
  h1 {
    line-height: 4.2rem; } }

@media (min-width: 768px) {
  h1 {
    line-height: 3.2rem; } }

@media (min-width: 1024px) {
  h1 {
    line-height: 6.3rem; } }

@media (max-width: 767px) {
  h1 {
    letter-spacing: -0.025em; } }

@media (min-width: 768px) {
  h1 {
    letter-spacing: -0.025em; } }

@media (min-width: 1024px) {
  h1 {
    letter-spacing: -0.025em; } }

h2 {
  font-size: 4rem; }

@media (max-width: 767px) {
  h3 {
    font-size: 3rem; } }

@media (min-width: 768px) {
  h3 {
    font-size: 1.6rem; } }

@media (min-width: 1024px) {
  h3 {
    font-size: 3.6rem; } }

@media (max-width: 767px) {
  h3 {
    line-height: 4.887rem; } }

@media (min-width: 768px) {
  h3 {
    line-height: 3.775rem; } }

@media (min-width: 1024px) {
  h3 {
    line-height: 2.6rem; } }

@media (max-width: 767px) {
  h3 {
    letter-spacing: -0.025em; } }

@media (min-width: 768px) {
  h3 {
    letter-spacing: -0.025em; } }

@media (min-width: 1024px) {
  h3 {
    letter-spacing: -0.025em; } }

h4 {
  margin-top: 1rem;
  display: inline-block;
  vertical-align: top; }
  @media (max-width: 767px) {
    h4 {
      font-size: 2.8rem; } }
  @media (min-width: 768px) {
    h4 {
      font-size: 1.4rem; } }
  @media (min-width: 1024px) {
    h4 {
      font-size: 1.4rem; } }
  @media (max-width: 767px) {
    h4 {
      letter-spacing: 0.05em; } }
  @media (min-width: 768px) {
    h4 {
      letter-spacing: 0.05em; } }
  @media (min-width: 1024px) {
    h4 {
      letter-spacing: 0.05em; } }

h1, h2, h3 {
  text-transform: uppercase; }

.text--regular {
  font-weight: 400; }

.text--bold {
  font-weight: 700; }

.text--bolder {
  font-weight: 900; }

.text--italic {
  font-family: 'Airways';
  text-transform: none;
  padding-left: 1rem; }

.text--clear {
  text-decoration: none; }

.text--underline {
  text-decoration: underline; }

.text--white {
  color: #ffffff; }

.text--gray {
  color: #8b8b8b; }

.text--yellow {
  color: #ffcc33; }

.text--black {
  color: #000000; }

.text--center {
  text-align: center; }

.text--left {
  text-align: left; }

.text--right {
  text-align: right; }

html, body {
  overflow-x: hidden; }

body {
  font-size: 100%;
  position: relative;
  max-width: 100%;
  background: #ffffff; }

a img {
  border: none;
  outline: none; }

.clearfix::before, .clearfix::after {
  display: table;
  content: "";
  clear: both; }

@media (max-width: 767px) {
  .container {
    width: 87.5vw;
    margin: 0 auto; } }

@media (min-width: 768px) {
  .container {
    width: 84.375vw;
    margin: 0 auto; } }

@media (min-width: 1024px) {
  .container {
    width: 74.47058823529412vw; } }

.b-header {
  width: 88%;
  margin: 0;
  padding: 0 6%;
  height: 8.5rem;
  background: #000000;
  position: fixed;
  top: 0;
  z-index: 99999999; }
  @media (min-width: 768px) {
    .b-header {
      width: 90%;
      margin: 0;
      padding: 0 5%;
      height: 8.5001rem; } }
  @media (min-width: 1024px) {
    .b-header {
      width: 96%;
      margin: 0;
      padding: 0 2%;
      height: 6.6rem; } }
  .b-header svg {
    cursor: pointer; }
  .b-header__logo {
    width: 37.4vw;
    position: absolute;
    top: 2.6vw;
    left: 50%;
    margin-left: -18.5vw;
    z-index: 120; }
    @media (min-width: 768px) {
      .b-header__logo {
        top: 0.6vw; } }
    @media (min-width: 1024px) {
      .b-header__logo {
        width: 11.6vw;
        margin-left: -5.8vw; } }
    .b-header__logo img {
      width: 100%; }
  @media (max-width: 1023px) {
    .b-header__social {
      float: none;
      position: relative;
      font-size: 6rem;
      color: #000000;
      width: 50%;
      margin: 0 auto; } }
  @media (min-width: 768px) {
    .b-header__social {
      font-size: 5rem;
      width: 57%; } }
  @media (min-width: 1024px) {
    .b-header__social {
      position: relative;
      font-size: 2rem;
      top: 1.4vw;
      color: #ffffff;
      float: left;
      left: -0.3vw;
      width: auto; } }
  .b-header__social svg {
    margin-right: 13vw; }
    @media (min-width: 768px) {
      .b-header__social svg {
        margin-right: 9vw; } }
    @media (min-width: 1024px) {
      .b-header__social svg {
        margin-right: 20px; } }
    .b-header__social svg:last-child {
      margin-right: 0; }
  .b-header__menu-trigger {
    float: left;
    position: relative;
    cursor: pointer;
    top: 2.5rem;
    left: 0.2rem;
    font-size: 3.9rem; }
    @media (min-width: 768px) {
      .b-header__menu-trigger {
        font-size: 4.1rem;
        top: 2.35rem;
        left: 0.4rem; } }
    @media (min-width: 1024px) {
      .b-header__menu-trigger {
        display: none; } }
    .b-header__menu-trigger img {
      width: 100%; }
  .b-header__search {
    font-size: 1.6rem; }

.c-main-navigation {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  @media (max-width: 767px) {
    .c-main-navigation {
      margin-bottom: 33vw;
      position: relative; } }
  @media (min-width: 768px) {
    .c-main-navigation {
      margin-bottom: 28vw; } }
  @media (min-width: 1024px) {
    .c-main-navigation {
      width: 90%;
      text-align: center;
      position: fixed;
      top: 2.9rem;
      left: 50%;
      margin-left: -44%;
      margin-bottom: 0; } }
  .c-main-navigation--wrap {
    width: 77vw;
    margin: 0;
    padding: 22.3% 2vw 10vw 5.5vw;
    background: #ffffff;
    position: fixed;
    top: 8.5rem;
    bottom: 0;
    left: -86vw;
    z-index: 50;
    overflow: hidden;
    transition: all 0.2s linear; }
    @media (min-width: 768px) {
      .c-main-navigation--wrap {
        width: 61vw;
        margin: 0;
        padding: 16.4vw 1vw 10vw 8.4vw;
        left: -71vw;
        top: 8.5001rem; } }
    @media (min-width: 1024px) {
      .c-main-navigation--wrap {
        height: auto;
        position: absolute;
        width: 92%;
        z-index: 110;
        background: transparent;
        padding: 0 0 0 0.3%;
        left: 1.8vw;
        top: 0;
        overflow: visible; } }
    .c-main-navigation--wrap.inView {
      left: 0; }
  @media (max-width: 1023px) {
    .c-main-navigation a {
      text-decoration: none;
      color: #000000; } }
  @media (max-width: 1023px) {
    .c-main-navigation > li {
      margin-bottom: 11.3vw;
      position: relative; } }
  @media (min-width: 768px) {
    .c-main-navigation > li {
      margin-bottom: 7.7vw; } }
  @media (min-width: 1024px) {
    .c-main-navigation > li {
      display: inline-block;
      margin-right: 4.9rem;
      margin-bottom: 0;
      z-index: 110; }
      .c-main-navigation > li:first-child {
        margin-left: 7rem; }
      .c-main-navigation > li:nth-child(3) {
        margin-right: 33rem; }
      .c-main-navigation > li:last-child {
        margin-right: 0; } }
  @media (max-width: 1023px) {
    .c-main-navigation > li svg {
      color: #ffcc33;
      margin-right: 5vw;
      position: relative;
      top: -2px;
      font-size: 1.55rem; } }
  @media (min-width: 768px) {
    .c-main-navigation > li svg {
      margin-right: 3vw; } }
  @media (min-width: 1024px) {
    .c-main-navigation > li svg {
      display: none; } }
  .c-main-navigation > li > a {
    text-transform: uppercase;
    font-weight: 700; }
    @media (max-width: 767px) {
      .c-main-navigation > li > a {
        font-size: 2.8rem; } }
    @media (min-width: 768px) {
      .c-main-navigation > li > a {
        font-size: 2.273rem; } }
    @media (min-width: 1024px) {
      .c-main-navigation > li > a {
        font-size: 1.2rem; } }
    @media (max-width: 767px) {
      .c-main-navigation > li > a {
        letter-spacing: 0.1em; } }
    @media (min-width: 768px) {
      .c-main-navigation > li > a {
        letter-spacing: 0.1em; } }
    @media (min-width: 1024px) {
      .c-main-navigation > li > a {
        letter-spacing: 0.1em; } }
    @media (min-width: 1024px) {
      .c-main-navigation > li > a {
        color: #ffcc33;
        text-decoration: none;
        transition: color 0.15s linear; } }
    @media (min-width: 1024px) {
      .c-main-navigation > li > a.active, .c-main-navigation > li > a:hover {
        color: #ffffff;
        padding-bottom: 0.35rem;
        border-bottom: 3px solid #ffffff; } }
  .c-main-navigation .sub__menu {
    display: none;
    padding-left: 12.6vw; }
    @media (max-width: 767px) {
      .c-main-navigation .sub__menu {
        font-size: 2.8rem; } }
    @media (min-width: 768px) {
      .c-main-navigation .sub__menu {
        font-size: 2.269rem; } }
    @media (min-width: 1024px) {
      .c-main-navigation .sub__menu {
        font-size: 1.4rem; } }
    @media (max-width: 767px) {
      .c-main-navigation .sub__menu {
        letter-spacing: 0.1em; } }
    @media (min-width: 768px) {
      .c-main-navigation .sub__menu {
        letter-spacing: 0.1em; } }
    @media (min-width: 1024px) {
      .c-main-navigation .sub__menu {
        letter-spacing: 0.1em; } }
    @media (min-width: 768px) {
      .c-main-navigation .sub__menu {
        padding-left: 8.6vw; } }
    @media (min-width: 1024px) {
      .c-main-navigation .sub__menu {
        position: fixed;
        top: 6.6rem;
        left: 0;
        right: 0;
        background: #ffffff;
        overflow: hidden;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        padding-left: 0; } }
    .c-main-navigation .sub__menu > ul {
      list-style: none; }
      @media (min-width: 1024px) {
        .c-main-navigation .sub__menu > ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          display: block;
          position: relative;
          width: 17.8%;
          float: left;
          padding: 4.5% 0 1% 7.2%;
          text-transform: uppercase; }
          .c-main-navigation .sub__menu > ul::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 1px;
            height: 40rem;
            background: #ececec; } }
      .c-main-navigation .sub__menu > ul:last-of-type {
        margin-bottom: 2vw; }
        @media (min-width: 768px) {
          .c-main-navigation .sub__menu > ul:last-of-type {
            margin-bottom: 1vw; } }
        @media (min-width: 1024px) {
          .c-main-navigation .sub__menu > ul:last-of-type {
            margin-bottom: 0; } }
      .c-main-navigation .sub__menu > ul > li {
        margin-top: 8.1vw; }
        @media (min-width: 768px) {
          .c-main-navigation .sub__menu > ul > li {
            margin-top: 5.6vw; } }
        @media (min-width: 1024px) {
          .c-main-navigation .sub__menu > ul > li {
            text-align: left;
            margin-top: 0;
            margin-bottom: 19.3%; } }
        .c-main-navigation .sub__menu > ul > li > a {
          font-weight: 700; }
          @media (min-width: 1024px) {
            .c-main-navigation .sub__menu > ul > li > a {
              text-decoration: none;
              color: #000000;
              font-size: 1.4rem;
              font-weight: 900;
              letter-spacing: 0.05em; } }

.page.menuOpened {
  left: 84vw; }
  @media (min-width: 768px) {
    .page.menuOpened {
      left: 69vw; } }

@media (max-width: 1023px) {
  body.menuOpened,
  html.menuOpened {
    overflow: hidden; }
  .menu__opened__overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000; } }

.c-navigation-top-articles {
  float: left;
  width: 32%;
  padding: 4% 10% 0 5.7%; }
  @media (max-width: 1023px) {
    .c-navigation-top-articles {
      display: none; } }
  .c-navigation-top-articles .heading--row {
    margin-bottom: 1.2rem;
    letter-spacing: 0; }
    .c-navigation-top-articles .heading--row .text--bolder {
      font-size: 2.6rem; }
    .c-navigation-top-articles .heading--row .text--italic {
      font-size: 3rem;
      position: relative;
      top: -0.1rem;
      left: 0.5rem; }
  .c-navigation-top-articles .row--full {
    margin-bottom: 1.8rem; }
  .c-navigation-top-articles .top__article {
    width: 45%;
    margin-right: 8%;
    text-align: left;
    float: left; }
    .c-navigation-top-articles .top__article:last-child {
      margin-right: 0; }
    .c-navigation-top-articles .top__article img {
      float: left;
      width: 28%;
      margin-right: 9%; }
    .c-navigation-top-articles .top__article p {
      font-size: 1.3rem;
      line-height: 1.5rem;
      letter-spacing: 0.05em;
      float: left;
      width: 63%;
      margin-top: -0.3rem; }

.footer {
  width: 100%;
  margin: 11.5vw 0;
  padding: 0;
  text-align: center; }
  @media (min-width: 768px) {
    .footer {
      margin: 6.5vw 0; } }
  @media (min-width: 1024px) {
    .footer {
      margin: 4.3vw 0; } }
  .footer__img {
    margin: 0 auto;
    width: 31%; }
    @media (min-width: 768px) {
      .footer__img {
        width: 22%;
        margin: 0 auto 3vw auto; } }
    @media (min-width: 1024px) {
      .footer__img {
        width: 9%;
        margin: 0 auto 2.6vw auto; } }
  .footer__nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 8vw 0; }
    @media (min-width: 768px) {
      .footer__nav {
        margin: 1.6vw 0; } }
    @media (min-width: 1024px) {
      .footer__nav {
        margin: 2.3vw 0; } }
    .footer__nav li {
      display: block;
      text-transform: uppercase;
      margin-bottom: 4vw; }
      @media (min-width: 768px) {
        .footer__nav li {
          display: inline-block;
          margin-right: 3.5vw;
          margin-bottom: 0; } }
      @media (min-width: 1024px) {
        .footer__nav li {
          margin-right: 1.5vw; } }
      @media (min-width: 768px) {
        .footer__nav li:last-child {
          margin-right: 0; } }
      .footer__nav li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #8b8b8b; }
        @media (max-width: 767px) {
          .footer__nav li a {
            font-size: 2rem; } }
        @media (min-width: 768px) {
          .footer__nav li a {
            font-size: 1rem; } }
        @media (min-width: 1024px) {
          .footer__nav li a {
            font-size: 1rem; } }
        @media (max-width: 767px) {
          .footer__nav li a {
            letter-spacing: 0.05em; } }
        @media (min-width: 768px) {
          .footer__nav li a {
            letter-spacing: 0.05em; } }
        @media (min-width: 1024px) {
          .footer__nav li a {
            letter-spacing: 0.05em; } }

.slick-slider__images {
  width: 100%; }

.slick-slider__arrows {
  position: absolute;
  z-index: 999;
  visibility: hidden;
  top: 44rem; }
  @media (min-width: 1024px) {
    .slick-slider__arrows {
      visibility: visible; } }

.slick-slider__arrows-left {
  left: 2.82vw; }

.slick-slider__arrows-right {
  right: 2.82vw; }

.slider__text-content {
  width: 88%;
  position: absolute;
  left: 6.25vw;
  top: 14.8rem; }

.slider__text-content h3 {
  color: #ffcc33;
  margin-top: 2.6rem; }

.slider__text-content h1 {
  color: #ffffff;
  margin-top: 1.2rem; }

.teaser-block {
  margin: 4rem 0; }

.teaser {
  display: inline-block; }

.news-de-la__first-teaser {
  width: 31.25vw;
  margin-right: 2.5vw; }
  .news-de-la__first-teaser__heading {
    margin-bottom: 4.5rem;
    line-height: 4rem; }
    .news-de-la__first-teaser__heading h1:first-of-type {
      font-size: 4.5rem; }
    .news-de-la__first-teaser__heading h1:nth-of-type(2) {
      font-size: 5rem; }

.news-de-la__second-teaser {
  width: 53.35vw; }

.news-de-la__third-teaser, .vu-astuces__third-teaser, .foire__first-teaser {
  width: 87.5vw;
  margin-top: 8rem; }

.news-de-la__fourth-teaser {
  width: 42.5vw;
  margin-top: 7.5rem; }
  .news-de-la__fourth-teaser__caption {
    float: right;
    width: 42.5vw;
    margin-top: -1.7rem; }

.news-de-la__button {
  text-align: center;
  margin-top: 7.7rem; }

.fan-de-vu__first-teaser {
  width: 87.5vw; }
  .fan-de-vu__first-teaser-white-background {
    margin-top: 6rem;
    background: white;
    padding: 5rem 6rem 6rem 4.5rem; }
    .fan-de-vu__first-teaser-white-background .text--bolder {
      margin-top: 4.5rem;
      font-size: 3.6rem; }

.fan-de-vu__second-teaser, .cote-business__fifth-teaser {
  margin-top: 7rem;
  width: 42.5vw;
  margin-right: 2vw; }

.fan-de-vu__third-teaser, .cote-business__sixth-teaser {
  margin-top: 7rem;
  width: 42.5vw; }

.fan-de-vu__fourth-teaser {
  margin-top: 9.5rem;
  width: 42.5vw; }

.vu-astuces__heading {
  margin-bottom: 5rem; }

.vu-astuces__first-teaser, .vu-astuces__fifth-teaser, .cote-business__second-teaser, .cote-business__third-teaser {
  width: 42.5vw;
  margin-right: 2vw; }

.vu-astuces__second-teaser, .vu-astuces__fourth-teaser, .cote-business__first-teaser, .cote-business__fourth-teaser {
  width: 42.5vw;
  vertical-align: top; }
  .vu-astuces__second-teaser__caption h4 {
    letter-spacing: 0.06em;
    margin-top: 2rem; }

.vu-astuces__fourth-teaser, .cote-business__first-teaser {
  margin-top: 8rem;
  margin-right: 2vw; }

.vu-astuces__fifth-teaser, .cote-business__second-teaser {
  margin-right: 0;
  margin-top: 8rem; }

.foire__first-teaser {
  position: relative;
  top: -34rem; }
  .foire__first-teaser__caption {
    margin-top: 3rem; }

.cote-business__first-teaser {
  margin-top: 5rem; }

.cote-business__second-teaser {
  margin-top: 5rem; }

.cote-business__third-teaser {
  margin-top: 5rem; }

.cote-business__fourth-teaser {
  margin-top: 5rem; }

.button {
  background-color: #ffcc33;
  border: none;
  color: #000000;
  text-align: center;
  padding: 0.3rem 1.4rem;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 3.403rem; }

.button-alt {
  text-align: center;
  background-color: #ffffff;
  padding: 1.3rem 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  line-height: 3.6rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 24px -2px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 2px 24px -2px rgba(0, 0, 0, 0.76); }

.figure {
  display: inline-block;
  position: relative; }
  .figure .button {
    position: absolute;
    bottom: 0; }

.news-de-la__first-teaser__figure {
  background: center/cover no-repeat url("../../assets/image/teaser-news.jpg");
  width: 100%;
  height: 26.6rem;
  margin-right: 2.1875vw; }

.news-de-la__second-teaser__figure {
  background: url("../../assets/image/teaser-news-bigger.jpg") right/cover no-repeat;
  width: 100%;
  height: 45.5rem; }

.news-de-la__third-teaser__figure, .vu-astuces__third-teaser__figure {
  background: url("../../assets/image/teaser-cote.jpg") center/cover no-repeat;
  width: 100%;
  height: 45.5rem; }

.news-de-la__fourth-teaser__figure {
  background: url("../../assets/image/teaser-cote-tools.jpg") center/cover no-repeat;
  height: 22.2rem;
  width: 100%; }

.fan-de-vu__first-teaser__figure {
  background: url("../../assets/image/fan-de-vu__first-teaser-img.jpg") center/cover no-repeat;
  width: 100%;
  height: 34rem; }

.fan-de-vu__second-teaser__figure, .cote-business__fifth-teaser__figure {
  background: url("../../assets/image/fan-de-vu__second-teaser-img.jpg") center/cover no-repeat;
  width: 100%;
  height: 22rem; }

.fan-de-vu__third-teaser__figure, .cote-business__sixth-teaser__figure {
  background: url("../../assets/image/fan-de-vu__third-teaser-img.jpg") center/cover no-repeat;
  width: 100%;
  height: 22rem; }

.fan-de-vu__fourth-teaser__figure {
  background: url("../../assets/image/fan-de-vu__second-teaser-img.jpg") center/cover no-repeat;
  width: 100%;
  height: 22rem; }

.vu-astuces__first-teaser__figure, .vu-astuces__fifth-teaser__figure, .cote-business__second-teaser__figure, .cote-business__third-teaser__figure {
  background: url("../../assets/image/vu-astuces__first-teaser-img.jpg") center/cover no-repeat;
  width: 100%;
  height: 36rem; }

.vu-astuces__second-teaser__figure, .vu-astuces__fourth-teaser__figure, .cote-business__first-teaser__figure, .cote-business__fourth-teaser__figure {
  background: url("../../assets/image/vu-astuces__second-teaser-img.jpg") center/cover no-repeat;
  width: 100%;
  height: 22rem; }

.vu-astuces__third-teaser__figure {
  background: url("../../assets/image/vu-astuces__third-teaser-img.jpg") center/cover no-repeat; }

.foire__first-teaser__figure {
  background: url("../../assets/image/foire__first-teaser-img.jpg") no-repeat center center;
  width: 100%;
  height: 47rem;
  margin-top: 4.5rem; }

.cote-business__third-teaser__figure {
  margin-top: -9rem; }

.cote-business__fourth-teaser__figure {
  margin-top: 5rem; }

.hp-slick-slider {
  margin-top: 8.4rem; }
  @media (min-width: 1024px) {
    .hp-slick-slider {
      margin-top: 6.4rem; } }

.fan-de-vu {
  background: #f6f6f6; }

.foire {
  margin-top: 36rem;
  height: 53rem;
  background: #f6f6f6; }

.cote-business {
  margin-top: 8rem; }

.w-search-trigger {
  float: right;
  position: relative;
  top: 2.8rem;
  right: 0.2rem;
  font-size: 3rem; }
  @media (min-width: 768px) {
    .w-search-trigger {
      right: 0.8rem;
      top: 2.5rem; } }
  @media (min-width: 1024px) {
    .w-search-trigger {
      font-size: 1.7rem;
      top: 2.5rem;
      right: 0.6rem; } }

.w-search-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999999;
  background: rgba(0, 0, 0, 0.8); }
  .w-search-popup .search__close {
    position: absolute;
    top: 2.7vw;
    right: 5.4vw;
    font-size: 4.8rem;
    cursor: pointer; }
    @media (min-width: 768px) {
      .w-search-popup .search__close {
        top: 2.1vw;
        right: 4.2vw;
        font-size: 5.5rem; } }
    @media (min-width: 1024px) {
      .w-search-popup .search__close {
        font-size: 6rem;
        top: 1.5vw;
        right: 2.5vw; } }
  .w-search-popup .search__field {
    position: relative;
    top: 37.2%;
    width: 93%;
    margin-left: 6.3%; }
    @media (min-width: 768px) {
      .w-search-popup .search__field {
        top: 34.3%;
        width: 92%;
        margin-left: 7.8%; } }
    @media (min-width: 1024px) {
      .w-search-popup .search__field {
        top: 43%;
        width: 74%;
        margin-left: 15.5%; } }
    .w-search-popup .search__field input {
      width: 85.7%;
      background: transparent;
      border: 0;
      color: #ffffff;
      border-bottom: 1px solid #ffffff;
      padding-bottom: 2vw; }
      @media (max-width: 767px) {
        .w-search-popup .search__field input {
          font-size: 4rem; } }
      @media (min-width: 768px) {
        .w-search-popup .search__field input {
          font-size: 4rem; } }
      @media (min-width: 1024px) {
        .w-search-popup .search__field input {
          font-size: 8rem; } }
      @media (max-width: 767px) {
        .w-search-popup .search__field input {
          letter-spacing: 0em; } }
      @media (min-width: 768px) {
        .w-search-popup .search__field input {
          letter-spacing: 0em; } }
      @media (min-width: 1024px) {
        .w-search-popup .search__field input {
          letter-spacing: 0em; } }
      @media (min-width: 768px) {
        .w-search-popup .search__field input {
          padding-bottom: 1vw;
          width: 85.5%; } }
      .w-search-popup .search__field input:focus {
        outline: none;
        border-bottom: 1px solid #ffffff; }
    .w-search-popup .search__field svg {
      font-size: 4rem;
      position: relative;
      top: -1.6vw; }
      @media (min-width: 768px) {
        .w-search-popup .search__field svg {
          font-size: 4rem;
          top: 0.5vw; } }
      @media (min-width: 1024px) {
        .w-search-popup .search__field svg {
          font-size: 7rem;
          top: 0.3vw;
          left: 1.4vw; } }

/*# sourceMappingURL=master.css.map */
