.footer {
    height: 42.7rem;
    margin: 0 1rem;
}

.footer_img {
    margin: 8.9rem auto 0;
}

.footer__text {
    color: $gray;
    font-size: 2rem;
    // font-weight: bold;
    text-transform: uppercase;
}


.footer__text:first-of-type {
    margin-top: 5rem;
}