.quiz-teaser-wrap {
    background: center / cover no-repeat url("../../assets/image/quiz__bg-image--mob.jpg");
    height: 49.2rem;
    width: 100%;
    box-sizing: border-box;
    @include breakpoint(tabletAndDesktop) {
        height: 21.2rem;
    }
    @include breakpoint(desktopOnly) {
        height: 44.1rem;
    }
}

.quiz-teaser__text-content {
    @include width(416,190,286);
    margin: 0 auto;
    padding-top: 7rem;
    @include breakpoint(tabletAndDesktop) {
        padding-top: 3.8rem;
    }
    @include breakpoint(desktopOnly) {
        padding-top: 9.4rem;
    }

}

.quiz-teaser__heading {
    padding-bottom: 3rem;
    @include breakpoint(tabletAndDesktop) {
        padding-bottom: 1.5rem;
        @include breakpoint(desktopOnly) {
            padding-bottom: 0rem;
        }
    }
    h2 {
        @include fontSize(45,22,32);
        @include letterSpacing(0,-10,-10);
        @include lineHeight(47,27,42)
    }
}

.quiz-teaser__description {
    color: $black;
    @include fontSize(26,0,14);
    @include lineHeight(32,0,18);
    padding-bottom: 6.3rem;
    padding-top: 1rem;
    @include breakpoint(desktopOnly) {
        padding-bottom: 2.1rem;
    }
}

.btn--test-start {
    @include fontSize(18,10,12);
    @include letterSpacing(100,100,100);
    font-weight: 900;
    width: 26vw;
    text-align: center;
    padding: 4vw 8vw;

    @include breakpoint(tabletOnly) {
      width: 16vw;
      text-align: center;
      padding: 1.6rem 1.2vw;
      margin: 0 0 0 12%;
    }

    @include breakpoint(desktopOnly) {
      width: 9vw;
      padding: 1.9rem 1.2vw;
      margin: 0;
    }

    &:active {
        background-color: $black;
        color: $white;
    }

  }

.quiz-teaser__figures {
    @include breakpoint(phoneOnly){
        display: none;
    }
    
    width: 96%;
    margin: 4.7rem auto 0;
    position: relative;
    @include breakpoint(desktopOnly) {
        margin-top: 7.6rem;
        width: 94%;
    }

    .car__caption {
        text-align: center;
        color: $black;
        margin-top: 5rem;
        @include breakpoint(desktopOnly) {
            margin-top: 13rem;
            font-size: 2.2rem;
            letter-spacing: -0.025em;
        }
    }
    

    &__first-car {
        @include teaser__figureResponsive(url("../../assets/image/truck1.png"),
        0,74,155);
        @include width(0,175,351);
        display: inline-block;
        position: absolute;
        left: 0;
        @include breakpoint(desktopOnly) {
            left: -0.6rem;
            bottom: -16.6rem;
        }
    }

    &__second-car {
        @include teaser__figureResponsive(url("../../assets/image/truck2.png"),
        0,74,165);
        @include width(0,175,351);
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        @include breakpoint(desktopOnly) {
            left: -3.4rem;

            .car__caption {
                margin-top: 14rem;
            }
        }
    }

    &__third-car {
        @include teaser__figureResponsive(url("../../assets/image/truck3.png"),
        0,74,165);
        @include width(0,175,366);
        display: inline-block;
        position: absolute;
        right: 0;
        @include breakpoint(desktopOnly) {
            right: 0.6rem;
            bottom: -14.7rem;

            .car__caption {
                margin-top: 15.5rem;
            }
        }
    }

}

// Modifiers //

.quiz-teaser-wrap--mini {

    @include breakpoint(desktopOnly) {
        width: 40.7rem;
        height: 49.2rem;

        .quiz-teaser__text-content {
            padding-top: 16.4rem;
            width: 28rem;
        }
        .quiz-teaser__description {
            padding: 1rem 0 3rem 0;
        }

        .quiz-teaser__figures {
            margin-top: 9rem;
            width: 99%;
            
            &__first-car {
                width: 13.5rem;
                height: 6.4rem;
            }

            &__second-car {
                width: 13.5rem;
                height: 6.8rem;
        }
        
            &__third-car {
                width: 13.5rem;
                height: 7.8rem;
        }
    
            .car__caption {
                margin-top: 5rem;
                font-size: 1.2rem;
                letter-spacing: -0.025em;
            }
        }
    }
}