.quiz-teaser-wrap {
    background: center / cover no-repeat url("../../assets/image/quiz__bg-image--mob.jpg");
    height: 49.2rem;
    width: 100%;
    box-sizing: border-box;
    @include breakpoint(tabletAndDesktop) {
        height: 21.2rem;
    }
    @include breakpoint(desktopOnly) {
        height: 44.1rem;
    }
}

.quiz-teaser__text-content {
    @include width(416,190,286);
    margin: 0 auto;
    padding-top: 7rem;
    @include breakpoint(tabletAndDesktop) {
        padding-top: 3.8rem;
    }
    @include breakpoint(desktopOnly) {
        padding-top: 9.4rem;
    }

}

.quiz-teaser__heading {
    padding-bottom: 3rem;
    @include breakpoint(tabletAndDesktop) {
        padding-bottom: 1.5rem;
        @include breakpoint(desktopOnly) {
            padding-bottom: 0rem;
        }
    }
    h2 {
        @include fontSize(45,22,32);
        @include letterSpacing(0,-10,-10);
        @include lineHeight(47,27,42)
    }
}

.quiz-teaser__description {
    color: $black;
    @include fontSize(26,0,14);
    @include lineHeight(32,0,18);
    padding-bottom: 4.2rem;
    padding-top: 1rem;
}

.quiz-teaser__button {
    text-align: center;
    button {
        @include fontSize(18,10,18);
        // min-height: 7.1rem;
        // min-width: 26.6rem;
        @include width(266,100,200);
        @include height(71,30,40);
        // @include breakpoint(tabletAndDesktop) {
        //     min-height: 3rem;
        //     min-width: 10rem;
        // }
        // @include breakpoint(desktopOnly) {
        //     min-height: 4rem;
        //     min-width: 17rem;
        // }
    }

}

.quiz-teaser__figures {
    @include breakpoint(phoneOnly){
        display: none;
    }
    
    width: 96%;
    margin: 4.7rem auto 0;
    position: relative;
    @include breakpoint(desktopOnly) {
        margin-top: 4.6rem;
        width: 90%;
    }
    

    &__first-car {
        @include teaser__figureResponsive(url("../../assets/image/truck1.png"),
        0,74,165);
        @include width(0,175,351);
        display: inline-block;
        position: absolute;
        left: 0;
    }

    &__second-car {
        @include teaser__figureResponsive(url("../../assets/image/truck2.png"),
        0,74,165);
        @include width(0,175,351);
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;

    }

    &__third-car {
        @include teaser__figureResponsive(url("../../assets/image/truck3.png"),
        0,74,165);
        @include width(0,175,351);
        display: inline-block;
        position: absolute;
        right: 0;
    }

    .car__caption {
        text-align: center;
        color: $black;
        margin-top: 5rem;
        @include breakpoint(desktopOnly) {
            margin-top: 13rem;
            font-size: 2.2rem;
            letter-spacing: -0.025em;
        }
    }
    

}

// Modifiers //

.quiz-teaser-wrap--mini {

    @include breakpoint(desktopOnly) {
        width: 40.7rem;
        height: 49.2rem;

        .quiz-teaser__text-content {
            padding-top: 16.4rem;
            width: 28rem;
        }
        .quiz-teaser__description {
            padding: 1rem 0 3rem 0;
        }

        .quiz-teaser__figures {
            margin-top: 9rem;
            width: 99%;
            
            &__first-car {
                width: 13.5rem;
                height: 6.4rem;
            }

            &__second-car {
                width: 13.5rem;
                height: 6.8rem;
        }
        
            &__third-car {
                width: 13.5rem;
                height: 7.8rem;
        }
    
            .car__caption {
                margin-top: 5rem;
                font-size: 1.2rem;
                letter-spacing: -0.025em;
            }
        }
    }
}