.teaser {
    float: left;

    .caption {
        @include marginTop(12,12,24);
    }

}

.heading {

    .text--bolder {
        @include fontSize(45,20,32);
        @include letterSpacing(-50,-50,-50);
    }

    .text--italic {
        @include fontSize(50,20,30);
    }

    .text--regular {
        @include fontSize(40,20,30);
    }

}

// Sub Menu Top Articles Teasers 

.sub-menu__first-teaser,
.sub-menu__second-teaser {
    @include width(0,0,234);
    @include marginTop(0,0,18);
    position: relative;

    &__caption {
        width: 15rem;
        position: absolute;
        right: 0;
        top: 0;

        h4 {
            margin: 0;
            font-size:1.3rem;
            line-height: 1.5rem;
        }
    }
}

@include breakpoint(desktopOnly) {
    .sub-menu-articles .teaser:nth-child(even) {
        margin-right: 2rem;
    }  
}  

// News de la teasers

.news-de-la__heading {
    @include width(150,152,234);
    position: absolute;
    top: 3rem;
    @include breakpoint(tabletAndDesktop) {
        top: -1.7rem;
    }
    @include breakpoint(desktopOnly) {
        top: 0;
    }
}

.news-de-la__first-teaser {
    @include width(200,152,234);
    @include marginRight(16,11,24);
    @include marginTop(191,55,227);
}

.news-de-la__second-teaser {
    @include width(344,195,405);
    @include marginRight(0,11,24);
}

.news-de-la__third-teaser {
    @include width(560,277,578);
    @include marginTop(79,-86,-165)
}

.news-de-la__fourth-teaser {
    @include width(560,265,605);
    @include marginTop(72,27,80);
    position: relative;

    &__caption {
        @include width(275,100,260);
        position: absolute;
        right: 0;
        top: -1.7rem;
        @include breakpoint(desktopOnly) {
            top: -3rem;
        }
    }
    
}

.news-de-la__button {
    text-align: center;
    @include marginTop(68,50,68);
    @include marginBottom(98,68,118);
}

// Fan De Vu 

.fan-de-vu__hero-underlay{
    background: $lightGray;
    margin: 0 auto;
    @include width(640,650,1355);
    box-sizing: border-box;
    padding: 6.3rem 6.25vw 15.7rem 6.25vw;
    
    @include breakpoint(tabletAndDesktop) {
        padding: 4.8rem 5.46875vw 7.3rem;
    }

    @include breakpoint(desktopOnly) {
        padding: 9.9rem calcVw(86,1700) 13.8rem;
    }
}

.fan-de-vu__first-teaser {
    -webkit-box-shadow: 0px 20px 31px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 20px 31px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 20px 31px 3px rgba(0,0,0,0.3);
    font-size: 0;
    line-height: 0;
    background-color: $white;    

    &-white-background {
        padding: 4.3rem calcVw(72,640) 6.2rem calcVw(55,640);

        @include breakpoint (tabletAndDesktop) {
            display: inline-block;
            width: 32%;
            vertical-align: top;
            padding: 3rem  2.604vw 0 5.208333333333334vw;
            box-sizing: border-box;
            @include breakpoint(desktopOnly) {
                padding: 5rem  calcVw(31,1700) 0 calcVw(85,1700);
                width: 29.2%;
            }
        }

    }

    &__heading h2 {
        @include letterSpacing(90,90,90);
    }

    &__caption {
        @include marginTop(37,15,58);

        h3 {
            @include fontSize(36,16,28);
        }
    }

    &__figure {
        @include breakpoint(tabletAndDesktop) {
            display: inline-block;
            width: 68%;
        }
        @include breakpoint(desktopOnly) {
            width: 70.8%;
        }
    }

}

.fan-de-vu {
    .caption h4 {
        letter-spacing: 0.06em;
    }
}

.fan-de-vu__second-teaser {
    @include width(272,152.75,320);    
    @include marginRight(16,42,86);
    @include marginTop(-87,-35,-70); 
}

.fan-de-vu__third-teaser {
    @include width(272,152.75,320);
    @include marginRight(0,12,24);
    @include marginLeft(0,12,24);
    @include marginTop(-87,-35,-70); 
}

.fan-de-vu__fourth-teaser { 
    @include width(272,152.75,320);
    @include marginTop(95,-35,-70); 
}

// Vu Astuces Section

.vu-astuces__heading {
    @include marginBottom(51,30,65)
}

.vu-astuces__first-teaser {
    @include width(272,193,320);
    @include marginRight(16,12,24);
}

.vu-astuces__second-teaser {
    @include width(272,152,320);
    @include marginRight(0,12,24);
    vertical-align: top;
}

.vu-astuces__third-teaser {
    @extend .news-de-la__third-teaser;
    @include marginTop(69,-101,-210);
    @include marginRight(16,0,0);
    @include marginBottom(82,50,110);
}

.vu-astuces__fourth-teaser {
    @include width(272,152.75,320);
    vertical-align: top;
    @include marginRight(16,12,24);
}

.vu-astuces__fifth-teaser {
    @include width(272,194,320);
}

// Faq is in it's Own Folder //

.cote-business__heading {
    @include marginBottom(52,29,65);
}

.cote-business__first-teaser {
    @include width(272,152.75,320);
    @include marginRight(16,12,24);
    vertical-align: top;
    @include marginBottom(78,92,75);
}

.cote-business__second-teaser {
    @include width(272,152.75,320);
    @include marginRight(0,12,24);
}

.cote-business__third-teaser {
    @include width(272,152.75,320);
    @include marginRight(16,12,24);
    @include marginTop(-33,-52,-115);
}

.cote-business__fourth-teaser {
    @include width(272,152.75,320);
    @include marginTop(107,-55,-115);
    @include marginBottom(60,60,60);
}

.cote-business__fifth-teaser {
    @include width(272,152.75,320);    
    @include marginRight(16,12,24);
    @include marginTop(0,-35,-78);
}

.cote-business__sixth-teaser {
    @include width(272,152.75,320);
    @include marginTop(0,12,90);
    @include marginRight(0,12,24);
    @include marginBottom(107,100,100);
}

////////////////////////////////////
/////// Media Queries /////////////
//////////////////////////////////


@include breakpoint(tabletAndDesktop) {

    //Fan De Vu

    .fan-de-vu__second-teaser,
    .fan-de-vu__third-teaser ,
    .fan-de-vu__fourth-teaser  {
        float: right;
    }
}

////////////////////////////////////
/////// SHP TEASERS /////////////
//////////////////////////////////

// Editor-Picks Block

.editor-picks__heading {
    @include marginBottom(44,16,58);
    width: 8.4rem;
    @include breakpoint(tabletAndDesktop) {
        float: right;
        margin-right: calcVw(274,768);
        margin-top: 1.5rem;
    }
    @include breakpoint(desktopOnly) {
        margin-right: calcVw(582,1700);
        margin-top: 4.5rem;
        span.text--bolder,span.text--regular,br,h2 {
            line-height: 3rem;
        }
    }
    h2 {
        @include lineHeight(48,20,24);
        .text--bolder .text--italic {
            @include marginLeft(10,5,9);
            font-weight: normal;
        }
    }
}

.editor-picks__first-teaser {
    @include width(560,277,578);
    @include marginBottom(61,60,102);
}

.editor-picks__second-teaser {
    @include width(560,277,578);
    @include marginBottom(41,0,0);
    position: relative;

    &__caption {
        @include width(275,100,250);
        position: absolute;
        left: 0;
        top: -1.7rem;
        @include breakpoint(desktopOnly) {
            top: -3rem;
        }
    }
}

.editor-picks__third-teaser {
    @include width(200,152,234);
    @include marginRight(16,11,24);
    vertical-align: top;
}

.editor-picks__fourth-teaser {
    @include width(344,195,405);
}

// Latest News Teasers

.latest-news__heading {
    @include width(250,0,0);
    @include marginBottom(37,20,40);
}
.latest-news .teaser .caption {
    @include marginTop(22,10,28);
}

.latest-news__first-teaser {
    @include marginRight(16,12,24);
    @include marginBottom(52,0,0);
}

.latest-news__second-teaser {
    @include marginRight(0,12,24);
}

.latest-news__third-teaser {
    @include width(560,277.84,578);
    @include marginTop(0,-100,-210);
    @include marginBottom(40,24,0);
}

.latest-news__first-teaser,
.latest-news__second-teaser,
.latest-news__fourth-teaser,
.latest-news__fifth-teaser,
.latest-news__sixth-teaser,
.latest-news__seventh-teaser,
.latest-news__eight-teaser,
.latest-news__ninth-teaser,
.latest-news__tenth-teaser, 
.latest-news__eleventh-teaser {
    @include width(272,152.75,319);
}

.latest-news__first-teaser,
.latest-news__fourth-teaser,
.latest-news__sixth-teaser,
.latest-news__eight-teaser,
.latest-news__tenth-teaser, {
    @include marginRight(16,12,24);
    @include marginBottom(54,24,81);
}

@include breakpoint(tabletAndDesktop) {
    .latest-news__fifth-teaser,
    .latest-news__ninth-teaser {
        margin-right: calcVw(12,768);
    }
}


/////////////////////////////////////
///////// New Teasers!!! ///////////
///////////////////////////////////


.teaser--underlay {
    background: $lightGray;
}

.teaser--wide-mob {
    @include width(560,277,578);

    &__caption {
        display: inline-block;
        width: calcVw(225,640);
    }

}

.teaser-wide--xs {
    @include width(560,278,319);
    @include height(157,70,83);

    & .caption {
        display: inline-block;
        vertical-align: top;
        @include width(300,170,170);
        @include marginTop(23,8,14);
        h4 {
            @include fontSize(22,14,14);
            @include breakpoint(desktopOnly) {
                line-height: 1.6rem;
            }
        }
    }

}

.teaser--wide-mob.teaser--underlay .figure {
    @include breakpoint(phoneOnly) {
    margin-top: -3.9rem;
    }
}

.teaser--portrait-mob {
    @include width(272,194,405);
}

.teaser--portrait-mob.teaser--underlay {
    height: 31.5rem;
    @include breakpoint(tabletAndDesktop) {
        height: 15rem;
        margin-bottom: 3.8rem;
        @include breakpoint(desktopOnly) {
            height: 31.5rem;
            margin-bottom: 5.9rem;
        }
    }

    & .caption {
        @include width(230,160,284);
        @include marginTop(30,15,30);
        margin-left: auto;
        margin-right: auto;

        p {
            padding-top: 1rem;
        }
    }

}

.figure--padded-top {
    margin-top: -11rem;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 5px 12px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 12px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 12px 3px rgba(0,0,0,0.3);
    @include breakpoint(tabletAndDesktop) {
        margin-top: -5rem;
        @include breakpoint(desktopOnly) {
        margin-top: -11.7rem;
        }
    }
}

@include breakpoint(tabletAndDesktop) {
    .teaser--wide-tab.teaser--underlay {
        width: calcVw(398.97,768);
        height: 13.3rem;
        margin-bottom: 7.3rem;
        @include breakpoint(desktopOnly) {
            width: calcVw(773, 1700);
            height: 25.9rem;
            margin-bottom: 14.2rem;
        }
    }

    .teaser--wide-tab{

        &__caption {
            display: inline-block;
            width: 18.5vw;
            vertical-align: bottom;
            @include breakpoint(desktopOnly) {
                width: calcVw(292, 1700);
                padding-bottom: 1.8rem;
            }
        }

        &__figure {
            margin: -1.2rem 3rem 0 2.8rem;
            @include breakpoint(desktopOnly) {
                margin: -3.4rem 2.5rem 0 8.6rem;
            }
        }
    }
    
}

.teaser--short-mob {
    @include width(200,152,320);
    @include marginRight(16,12,24);
}

.teaser--tall-mob {
    @include width(344,152,320);
    @include marginRight(0,12,24);
}

.teaser--md-mob {
    @include width(272,152,320);
    @include marginRight(16,12,24);
}

.teaser--square-mob {
    @include width(272,152,320);
    @include marginRight(16,12,24);
}

.teaser--square {
    @include width(272,152.75,320);
    .figure {
        @include height(222,125,260);
            background: center / cover no-repeat url("http://via.placeholder.com/272x222");
            @include breakpoint(tabletAndDesktop) {
                background: center / cover no-repeat url("http://via.placeholder.com/152x125");
            @include breakpoint(desktopOnly) {
                background: center / cover no-repeat url("http://via.placeholder.com/320x260");
            }
        }
    }
}

.teaser--padded-top {
    vertical-align: top;
}

.padded-top-td {
    @include breakpoint(tabletAndDesktop) {
        vertical-align: top;
    }
}

.teaser--lg {
    @include width(560,276,578);
    .figure {
        @include height(458,227,473);
        background: center / cover no-repeat url("http://via.placeholder.com/560x458");
            @include breakpoint(tabletAndDesktop) {
                background: center / cover no-repeat url("http://via.placeholder.com/276x227");
            @include breakpoint(desktopOnly) {
                background: center / cover no-repeat url("http://via.placeholder.com/578x473");
            }
        }
    }
}


////////////////////////////////
//// Articles Lies Teasers ////
//////////////////////////////

.articles-lies-teaser {

    .teaser {
        display: inline-block;
        float: none;
    }

    .caption {
        margin-top: 1.5rem;
        @include marginTop(15,10,20);
    }

    h4 {
        @include letterSpacing(60,90,55);
    }

    .row--mob .teaser:first-child {
        @include marginRight(16,12,24);
    }

    .row--td:nth-child(3) {
        .row--mob:first-child {
            @include breakpoint(tabletAndDesktop) {
                margin-right: calcVw(12,768);
            }
            @include breakpoint(desktopOnly) {
                margin-right: calcVw(24,1700);
            }
        }
    }
}

.articles-lies__heading {
    @include marginTop(138,12,64);
    @include width(150,100,0);
    position: absolute;
    @include breakpoint(tabletAndDesktop) {
        margin-left: 1rem;
    }
    @include breakpoint(desktopOnly) {
        margin-left: 0;
    }
}

.articles-lies__first-teaser {
    .figure {
        @include teaser__figureResponsive(
            url("../../assets/image/vu-astuces__second-teaser-img.jpg"),
        164,125,262); 
    }
    @include marginBottom(71,34,118);
}

.articles-lies__second-teaser {
    .figure {
        @include teaser__figureResponsive(
            url("../../assets/image/articles-lies__second-teaser-img.jpg"),
            455,202,420);
    }
}

.articles-lies__third-teaser {
    .figure {
        @include teaser__figureResponsive(
            url("../../assets/image/articles-lies__third-teaser-img.jpg"),
            458,228,474);
    }
    @include breakpoint(phoneOnly) {
        margin-bottom: 7rem;
    }
}

.articles-lies__fourth-teaser {
    .figure {
        @include teaser__figureResponsive(
            url("../../assets/image/articles-lies__fourth-teaser-img.jpg"),
            360,203,420);
    }
    @include marginBottom(71,100,233);
}


/////////////////////////
///////  Q&A List //////
///////////////////////

.qa-list__heading {
    margin-bottom: 8rem;
    width: 10rem;

    h2 {
        line-height: 5.5rem;
        @include breakpoint(tabletAndDesktop) {
            line-height: 1.3;
        }
        @include breakpoint(desktopOnly) {
            line-height: 1;
        }
    }

    @include breakpoint(tabletAndDesktop) {
        float: left;
        margin: 6.6rem 0 0 2.9rem;
        width: 9rem;
    }
    @include breakpoint(desktopOnly) {
        margin: 11.5rem 0 0 6rem;
    }
}

.qa-list-teaser .teaser--underlay {
    @include breakpoint(phoneOnly) {
    margin-bottom: 14.3rem;
    }
}

.qa-list__first-teaser {
    height: 25rem;
    @include breakpoint(tabletAndDesktop) {
        float: right;
    }
}

.qa-list__first-teaser__caption {
    @include breakpoint(phoneOnly) {
        margin-left: 3.7rem;
        margin-top: 6.4rem;
    }
    vertical-align: bottom;
}

.qa-list__second-teaser {
    @include marginRight(16,12,24);
}

.qa-list__third-teaser {
    @include marginRight(0,12,24);
}

.qa-list__fourth-teaser {
    @include marginRight(16,0,0);
}

.qa-list__fifth-teaser {
    @include marginLeft(0,30,60);
}

.qa-list__sixth-teaser {
    @include marginRight(16,12,24);
}

.qa-list__seventh-teaser {
    @include marginRight(0,12,24);
}

.qa-list__eight-teaser {
    @include marginRight(16,0,24);
}

.qa-list__ninth-teaser {
    float: right;
}

/////////////////////////
///////  More Q&A //////
///////////////////////

.more-qa__figure {
    margin: -2.5rem 3.9rem 3rem 1.6rem;
    width: 18.45rem;
    @include width(184.5,68,86);
    @include height(150,56,71);
    background: center / cover no-repeat url("http://via.placeholder.com/184x150");

    @include breakpoint(tabletAndDesktop) {
        margin: -0.7rem 1.5rem 2.2rem 1.5rem;
        background: center / cover no-repeat url("http://via.placeholder.com/68x56");
    }
    @include breakpoint(desktopOnly) {
        margin: -1.5rem 2rem 2.7rem 2.3rem;
        background: center / cover no-repeat url("http://via.placeholder.com/86x71");
    }

}

.more-qa__teaser {
    @include marginBottom(53,24,42.5);

    & .figure {
        -webkit-box-shadow: 0px 15px 18px 1px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 15px 18px 1px rgba(0,0,0,0.3);
        box-shadow: 0px 15px 18px 1px rgba(0,0,0,0.3);
    }
}

.more-qa__heading {
    float: left;
    width: 8.1rem;
    @include breakpoint(phoneOnly) {
        margin-bottom: 10rem;
    }
    @include breakpoint(desktopOnly) {
        margin-left: calcVw(40,1700);
        
        h2 {
            line-height: 3rem;
        }
    }
}

.more-qa__first-teaser {
    @include height(250,228,336);
    @include marginBottom(61,28,42);
    @include breakpoint(tabletAndDesktop) {
        width: calcVw(566,768);
        @include breakpoint(desktopOnly) {
            width: calcVw(834,1700);
            margin-right: calcVw(24,1700);
        }

    }

    &__figure {
        @include teaser__figureResponsive(
            url("../../assets/image/more-qa__first-teaser-img.jpg"),
            226,266,409.7);
        @include width(272,318,491);
        @include marginLeft(16,83,86);
        @include marginRight(30,27,24);
        @include marginTop(-39,-94,-145);
    }

    &__caption {
        vertical-align: top;
        @include marginTop(68,30,37);
        @include width(220,121,208);
        @include breakpoint(desktopOnly) {
            vertical-align: baseline;
        }

        h4 {
            @include breakpoint(desktopOnly) {
                font-size: 2.2rem;
                line-height: 3rem;
                margin-bottom: 1rem;
            }
        }
        p {
            padding-top: 0.7rem;
        }
    }
}

.teaser--divider {
    @include breakpoint(desktopOnly) {
        margin-left: calcVw(25,1700);
        margin-right: calcVw(25,1700);
    }
}

.more-qa__tenth-teaser {
    @include marginBottom(31,125,214);
    @include breakpoint(tabletOnly) {
        margin-right: calcVw(288,768);
    }
}
/////////////////////////////
// Search Results Teasers //
///////////////////////////

.search-results-teaser {
    @include breakpoint(phoneOnly) {
        .teaser--square:nth-child(odd) {
            margin-right: calcVw(16,640);
        }
    }
    @include breakpoint(tabletAndDesktop) {
        .row--td .teaser--square:nth-child(-n+3)  {
            margin-right: calcVw(12,768);
            @include breakpoint(desktopOnly) {
                margin-right: calcVw(24,1700);
            }
        }
    }

    .teaser--square {
        @include marginBottom(64,33,73);
    }
}

//////////////////////////////
///// Live News Teasers /////
////////////////////////////

.live-news-teaser {

    .row--mob {
        @include marginBottom(64,0,0);

        div:first-child {
            @include marginRight(16,12,24);
        }

    }

    .row--td:last-of-type .row--mob:last-of-type {
        margin-bottom: 1.9rem;
    }

    .teaser--square, //Remember to refactor this!
    .teaser--lg {
        display: inline-block;
        
        .caption {
        margin-top: 2.5rem;
        @include marginTop(25,14,26)
    }
}

    @include breakpoint(tabletAndDesktop) {
        .row--mob {
            display: inline-block;
        }

        .row--td {
            margin-bottom: 3.2rem;
            @include breakpoint(desktopOnly) {
                margin-bottom: 8.1rem;
            }
        }

        .row--td:last-of-type {
            margin-bottom: 1.4rem;
            @include breakpoint(desktopOnly) {
                margin-bottom: 8.2rem;
            }
        }

        .row--td .row--mob:nth-child(2) {
            margin-left: calcVw(12,768);
            @include breakpoint(desktopOnly) {
                margin-left: calcVw(24,1700);
            }
        }
    }

    @include breakpoint(desktopOnly) {
        .row--td:nth-of-type(3) {
            margin-bottom: 10.3rem;
        }

    }
}