.teaser-block {
    margin: 4rem 0;

    .text--bolder {
        font-size: 4.5rem;
    }

    .text--italic {
        font-size: 5rem;
    }
}

.teaser {
    display: inline-block;
}

.news-de-la__heading {
    margin-top: 2rem;
    position: absolute;
}

.news-de-la__first-teaser {
    width: 31.25vw;
    margin-right: 2.5vw;
}

.news-de-la__second-teaser {
    width: 53.35vw;
}

.news-de-la__third-teaser {
    width: 87.5vw;
    margin-top: 8rem;
}

.news-de-la__fourth-teaser {
    width: 87.5vw;
    margin-top: 7.5rem;

    &__caption {
        float: right;
        width: 42.5vw;
        margin-top: -1.7rem;
    }
}

.news-de-la__button {
    text-align: center;
    margin-top: 7.7rem;
}

.fan-de-vu__first-teaser {
    width: 87.5vw;

    &-white-background {
        margin-top: 6rem;
        background: white;
        padding: 5rem 6rem 6rem 4.5rem;

        .text--bolder {
            margin-top: 4.5rem;
            font-size: 3.6rem;
        }
    }
}

.fan-de-vu__second-teaser {
    margin-top: 7rem;
    width: 42.5vw;
    margin-right: 2vw; 
}

.fan-de-vu__third-teaser {
    margin-top: 7rem;
    width: 42.5vw;
}

.fan-de-vu__fourth-teaser {
    margin-top: 9.5rem;
    width: 42.5vw;
}

.vu-astuces__heading {
    margin-bottom: 5rem;
}

.vu-astuces__first-teaser {
    width: 42.5vw;
    margin-right: 2vw; 
}

.vu-astuces__second-teaser {
    width: 42.5vw;
    vertical-align: top;

    &__caption {
        h4 {
            letter-spacing: 0.06em;
            margin-top: 2rem;
        }
    }
}

.vu-astuces__third-teaser {
    @extend .news-de-la__third-teaser;
}

.vu-astuces__fourth-teaser {
    @extend .vu-astuces__second-teaser;
    margin-top: 8rem;
    margin-right: 2vw; 
}

.vu-astuces__fifth-teaser {
    @extend .vu-astuces__first-teaser;
    margin-right: 0;
    margin-top: 8rem;
}

.foire__first-teaser {
    @extend .news-de-la__third-teaser;
    position: relative;
    top: -34rem;

    &__caption {
        margin-top: 3rem;
    }
}

.cote-business__first-teaser {
    @extend .vu-astuces__fourth-teaser;
    margin-top: 5rem;
}

.cote-business__second-teaser {
    @extend .vu-astuces__fifth-teaser;
    margin-top: 5rem;
}

.cote-business__third-teaser {
    @extend .vu-astuces__first-teaser;
    margin-top: 5rem;
}

.cote-business__fourth-teaser {
    @extend .vu-astuces__second-teaser;
    margin-top: 5rem;
}

.cote-business__fifth-teaser {
    @extend .fan-de-vu__second-teaser;
}

.cote-business__sixth-teaser {
    @extend .fan-de-vu__third-teaser;
}